<md-dialog aria-label="Delete lesson" class="confirm_delete_lesson">
  <md-content>
        <div class="content">
            <p>Вы собираетесь отказать от выбранного урока.</p>
            <p>Вы уверены, что хотите сделать это?</p>

            <button type="button" ng-click="submit($event)" class="shadow btn_delete_lesson" style="">
                Подтвердить
            </button>
            <a href="" class="cancel" ng-click="closeDialog()">Отменить</a>
        </div>
  </md-content>
</md-dialog>