<md-dialog aria-label="Delete enroll" class="confirm_delete_enroll">
  <md-content>
        <div class="content">
            <p>You are about to delete the assign to the student.<br>
            All information on this attempt the passage to be deleted</p>
            <p>Are you sure?</p>

            <button type="button" ng-click="submit($event)" class="shadow btn_delete_lesson" style="">
                Yes, I am sure
            </button>
            <a href="" class="cancel" ng-click="closeDialog()">Cancel</a>
        </div>
  </md-content>
</md-dialog>