<md-dialog aria-label="Delete enroll" class="confirm_delete_enroll">
  <md-content>
        <div class="content">
            <p>Вы собираетесь удалить назначение на ученика.<br>
            Вся иноформация по данной попытки прохождения будет удалена</p>
            <p>Вы уверены, что хотите сделать это?</p>

            <button type="button" ng-click="submit($event)" class="shadow btn_delete_lesson" style="">
                Подтвердить
            </button>
            <a href="" class="cancel" ng-click="closeDialog()">Отменить</a>
        </div>
  </md-content>
</md-dialog>