<md-dialog aria-label="Delete enroll" class="confirm_delete_enroll">
  <md-content>
        <div class="content">
            <p>You are about to delete a record of the attempt of the lesson.</p>
            <p>Are you sure?</p>

            <button type="button" ng-click="submit($event)" class="shadow btn_delete_lesson" style="">
                Yes, I am sure
            </button>
            <a href="" class="cancel" ng-click="closeDialog()">Cancel</a>
        </div>
  </md-content>
</md-dialog>