<div dynamic-ctrl="getController()">
<div class="play_div" ng-controller="PlayInsideCtrl">
    
    <div class="play_panel" style="
    height: 100%;
    width: 90%;
    display: inline-block;
    margin-top: -50px;">


        <div>
            <div class="shadow" style="float:left;width: 65%;background-color: white;text-align: left;
    padding: 20px;min-height: 400px;position: relative;">

                <p style="font-size: 26px;font-weight: 500;">{{model.inside_play.attempt.lesson.name}}</p>
                <p style="font-size: 18px;">{{model.inside_play.attempt.lesson.description}}</p>

                <div>

                    <!-- MEDIA урока -->

                    <div class="question_picture" style="width: 100%;margin: 0 0 20px 0;" ng-if="model.lesson_dialog.lesson.media">
                        <img ng-if="model.lesson_dialog.lesson.media_type == 'image'" ng-src="{{model.lesson_dialog.lesson.media}}" class="md-card-image" alt="Картинка вопроса" style="width:400px;margin: 0 auto;"/>

                        <div ng-if="model.lesson_dialog.lesson.media_type == 'video'" class="md-card-image" style="width:400px;margin: 0 auto;">
                            <videogular>
                                <vg-media vg-src="model.lesson_dialog.lesson.media_sources" vg-type="video">
                                </vg-media>
                                <vg-controls>
                                    <vg-play-pause-button></vg-play-pause-button>
                                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                    <vg-scrub-bar>
                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    </vg-scrub-bar>
                                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                    <vg-volume>
                                        <vg-mute-button></vg-mute-button>
                                        <vg-volume-bar></vg-volume-bar>
                                    </vg-volume>
                                    <vg-fullscreen-button></vg-fullscreen-button>
                                </vg-controls>

                                <vg-overlay-play></vg-overlay-play>
                                <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
                            </videogular>
                        </div>

                        <div ng-if="model.lesson_dialog.lesson.media_type == 'audio'" class="md-card-image" style="width:400px;margin:0 auto;">
                            <videogular>
                                <vg-media vg-src="model.lesson_dialog.lesson.media_sources" vg-type="audio">
                                </vg-media>
                                <vg-controls>
                                    <vg-play-pause-button></vg-play-pause-button>
                                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                    <vg-scrub-bar>
                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    </vg-scrub-bar>
                                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                    <vg-volume>
                                        <vg-mute-button></vg-mute-button>
                                        <vg-volume-bar></vg-volume-bar>
                                    </vg-volume>
                                </vg-controls>

                                <vg-overlay-play></vg-overlay-play>
                                <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
                            </videogular>
                        </div>


                    </div>

                </div>
                
                


                <div ng-if="model.lesson_dialog.data.active == false">
                    <h4>Урок остановлен преподователем</h4>
                </div>

                <div ng-if="get_answer_pupil()">
                    <div ripple class="btn-secondary shadow" style="position:relative" ng-click="add_answer_pupil()">Написать</div>
                </div>

                <div ng-repeat="step in model.lesson_dialog.data.steps.slice().reverse()">


                    <div ng-if="$first == true && !get_answer_pupil() && step.type=='pupil' && step.mode == 'finish' && model.lesson_dialog.data.active != false">
                        <h4>Ответ находится в ожидание отклика от преподователя<h4>
                    </div>
                    <div ng-if="$first == true && !get_answer_pupil() && step.type=='teacher' && step.mode != 'finish' && model.lesson_dialog.data.active != false">
                        <h4>Ответ находится в ожидание отклика от преподователя<h4>
                    </div>

                    <div ng-if="$first == true && !get_answer_pupil() && step.type=='pupil' && !step.mode && model.lesson_dialog.data.active != false">
                        <p style="margin:10px;color:red;">
                            После завершения написания отклика обязательно нажмите кнопку "Отправить преподователю"
                        </p>
                    </div>
                    
                    <!--  режим реактирование -->
                    <div ng-if="step.type=='pupil' && step.mode == 'finish'" style="width: 100%;text-align: left;">

                        <div style="margin: 20px 10px 20px 10px;
                                width: 100%;
                                background-color: rgba(2, 99, 90, 0.18);
                                padding: 20px;
                                text-align: left;
                                display: inline-block;
                                position:relative;">

                            <!-- loading -->
                            <div ng-if="$first == true && model.lesson_dialog.loading == true" style="width:100%;height:100%;background-color: rgb(186, 226, 228);position: absolute;margin: -20px;">
                                <div style="margin: 0 auto;width: 50px;margin-top: 20px;">
                                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                </div>
                            </div>



                            <p style="float:right">Ученик</p>
                            
                            <p>Номер сообщения: {{step.number}}</p>
                            <div style="margin:-10px 0 10px 0;">Количество слов: {{get_number_words(step.text)}}</div>

                            <p ng-bind-html="step.text"></p>
                        </div>
                    </div>


                    <!-- режим просмотра -->
                    <div ng-if="step.type=='pupil' && !step.mode" style="width: 100%;text-align: left;">

                        <div style="margin: 20px 10px 20px 10px;
                                width: 100%;
                                background-color: rgba(2, 99, 90, 0.18);
                                padding: 20px;
                                text-align: left;
                                display: inline-block;
                                position:relative;">

                            <!-- loading -->
                            <div ng-if="$first == true && model.lesson_dialog.loading == true" style="width:100%;height:100%;background-color: rgb(186, 226, 228);position: absolute;margin: -20px;">
                                <div style="margin: 0 auto;width: 50px;margin-top: 20px;">
                                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                </div>
                            </div>



                            <p style="float:right">Ученик</p>
                            <p  ng-if="$first == true" style="float:right;cursor:pointer;text-decoration:underline;margin: 0 14px 0px 0px;" ng-click="commit_step($event, step.number)">Отправить преподователю</p>
                            <p  ng-if="$first == true" style="float:right;cursor:pointer;text-decoration:underline;margin: 0 14px 0px 0px;" ng-click="delete_step(step.number)">Удалить</p>
                            <p  ng-if="$first == true" style="float:right;cursor:pointer;text-decoration:underline;margin: 0 14px 0px 0px;" ng-click="edit_step(step.number)">Редактировать</p>
                            <p>Номер сообщения: {{step.number}}</p>
                            <div style="margin:-10px 0 10px 0;">Количество слов: {{get_number_words(step.text)}}</div>

                            <p ng-bind-html="step.text"></p>
                        </div>
                    </div>


                    <div ng-if="step.type=='pupil' && step.mode == 'edit'" style="width: 100%;text-align: left;">

                        <div ng-if="$first == true">

                            <div  ng-if="$first == true" class="btn-primary shadow" ng-click="save_step(step.number)"> Сохранить</div>
                            <div  ng-if="$first == true" class="btn-primary shadow" ng-click="delete_step(step.number)"> Удалить</div>
                        </div>
                        <div style="margin: 20px 0 0 0;">Количество слов: {{model.number_words}}</div>
                        <textarea style="resize: none;height: 200px;margin: 20px 0px 0px 0px;width: 100%;padding:10px;" ng-model="model.lesson_dialog.temptext" ng-change="change_text()">
                            
                        </textarea>
                    </div>



                    <!-- Отображение ответов преподователя -->
                    <div ng-if="step.type=='teacher' && step.mode=='finish'" style="width: 100%;text-align: right;">
                        <div style="margin: 20px 10px 20px 10px;
                                width: 100%;
                                background-color: rgba(99, 38, 2, 0.18);
                                padding: 20px;
                                text-align: left;
                                display: inline-block;">

                            <p style="float:right">Преподователь</p>
                            <p>Номер сообщения: {{step.number}}</p>
                            <p ng-bind-html="step.text"></p>
                        </div>
                    </div>
                </div>





            </div>


            <div class="shadow" style="float: left;
                width: 25%;
                background-color: white;
                min-height: 300px;
                margin: 0 0 20px 20px;
                padding: 25px;
                text-align: left;">

                <div ng-if="model.lesson_dialog.lesson.timer" class="shadow" style="text-align: center;padding: 5px 10px 5px 10px;">
                    <h3 style="margin: 0;">Таймер урока</h3>
                    <div style="width:100%;">
                        <div style="margin: 0 auto;
    width: 179px;
    font-size: 46px;
    font-weight: 500;" ng-style="timer_success == true && {'background-color': '#CEECCA'}">{{model.timer | secondsToTimeString: 'ss'}}</div>
                    </div>
                    <div style="margin:10px;">
                        <button type="button" class="btn-secondary" ng-click="runTimer()" ng-class="{'btn-disabled': disable_runtimer == true}" ng-disabled="disable_runtimer == true">Запустить</button>
                        <button type="button" class="btn-secondary" ng-click="stopTimer()">Стоп</button>
                    </div>
                    <div style="margin:10px;">
                        <button type="button" class="btn-primary" ng-click="resetTimer()">Сброс</button>
                        <button type="button" class="btn-primary" ng-click="inputTimer($event)" ng-class="{'btn-disabled': disable_runtimer == true}" ng-disabled="disable_runtimer == true">Изменить</button>
                    </div>
                </div>
                
                <div ng-if="model.inside_play.attempt.lesson.picture">
                    <img ng-src="{{model.inside_play.attempt.lesson.picture}}" style="width: 100%;">
                </div>
            </div>



        </div>
    </div>
</div>


