<md-dialog aria-label="show archive" class="select_enable" style="width: 100%;">
    <md-content>

        <a href="" class="cancel" style="width: 114px;height: 40px;z-index: 100;position: absolute;right: 17px;top: 8px;text-align: right;" ng-click="closeDialog()"><span translate>Close</span></a>

        <div>
            <div style="background-color: white;text-align: left; padding: 20px;min-height: 400px;position: relative;">

                <p style="font-size: 26px;font-weight: 500;">{{enroll.lesson.name}}</p>
                <p style="font-size: 18px;" ng-bind-html="enroll.lesson.description"></p>

                <div>

                    <!-- MEDIA урока -->    
                    <div class="question_picture" style="width: 100%;margin: 0 0 20px 0;" ng-if="enroll.lesson.media">
                        <img ng-if="enroll.lesson.media_type == 'image'" ng-src="{{enroll.lesson.media}}" class="md-card-image" alt="Картинка вопроса" style="width:400px;margin: 0 auto;"/>

                        <div ng-if="enroll.lesson.media_type == 'video'" class="md-card-image" style="width:400px;margin: 0 auto;">
                            <videogular>
                                <vg-media vg-src="enroll.lesson.media_sources" vg-type="video">
                                </vg-media>
                                <vg-controls>
                                    <vg-play-pause-button></vg-play-pause-button>
                                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                    <vg-scrub-bar>
                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    </vg-scrub-bar>
                                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                    <vg-volume>
                                        <vg-mute-button></vg-mute-button>
                                        <vg-volume-bar></vg-volume-bar>
                                    </vg-volume>
                                    <vg-fullscreen-button></vg-fullscreen-button>
                                </vg-controls>

                                <vg-overlay-play></vg-overlay-play>
                                <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
                            </videogular>
                        </div>

                        <div ng-if="enroll.lesson.media_type == 'audio'" class="md-card-image" style="width:400px;margin:0 auto;">
                            <videogular>
                                <vg-media vg-src="enroll.lesson.media_sources" vg-type="audio">
                                </vg-media>
                                <vg-controls>
                                    <vg-play-pause-button></vg-play-pause-button>
                                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                    <vg-scrub-bar>
                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    </vg-scrub-bar>
                                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                    <vg-volume>
                                        <vg-mute-button></vg-mute-button>
                                        <vg-volume-bar></vg-volume-bar>
                                    </vg-volume>
                                </vg-controls>

                                <vg-overlay-play></vg-overlay-play>
                                <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
                            </videogular>
                        </div>


                    </div>

                </div>
                
                

                <div ng-repeat="step in enroll.data.steps.slice().reverse()">
                    
                    <div ng-if="step.type=='pupil' && step.mode == 'finish'" style="width: 96%;text-align: left;">

                        <div style="margin: 20px 10px 20px 10px;
                                width: 100%;
                                background-color: rgba(2, 99, 90, 0.18);
                                padding: 10px;
                                text-align: left;
                                display: inline-block;
                                position:relative;">


                            <p style="float:right"><span translate>Pupil</span></p>

                            <div style="float:right;margin:0 10px;" ng-if="step.estimate">
                                <span translate>Teacher evaluation</span>:
                                    TA {{step.estimate.estimate_task}} /
                                    CC {{step.estimate.coherence_task}} /
                                    LR {{step.estimate.lexical_task}} /
                                    GA {{step.estimate.grammatical_task}}
                                </div>
                            
                            <!-- <p>Номер попытки: {{step.number}}</p> -->
                            <div style="margin: 0px 0 10px 0;"><span translate>Number of words</span>: {{get_number_words(step.text)}}</div>

                            <p compile="step.text"></p>
                        </div>
                    </div>


                    <!-- режим просмотра -->
                    <div ng-if="step.type=='pupil' && !step.mode" style="width: 96%;text-align: left;">

                        <div style="margin: 20px 10px 20px 10px;
                                width: 100%;
                                background-color: rgba(2, 99, 90, 0.18);
                                padding: 10px;
                                text-align: left;
                                display: inline-block;
                                position:relative;">

                            <!-- loading -->
                            <div ng-if="$first == true && model.lesson_dialog.loading == true" style="width:100%;height:100%;background-color: rgb(186, 226, 228);position: absolute;margin: -20px;">
                                <div style="margin: 0 auto;width: 50px;margin-top: 20px;">
                                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                </div>
                            </div>



                            <p style="float:right"><span translate>Pupil</span></p>
                            <p  ng-if="$first == true" class="btn-primary" style="float:right;cursor:pointer;margin: -4px 14px 0px 0px;" ng-click="commit_step($event, step.number)"><span translate>Send to teacher</span></p>
                            <p  ng-if="$first == true" style="float:right;cursor:pointer;text-decoration:underline;margin: 0 14px 0px 0px;" ng-click="delete_step(step.number)"><span translate>Delete</span></p>
                            <p  ng-if="$first == true" style="float:right;cursor:pointer;text-decoration:underline;margin: 0 14px 0px 0px;" ng-click="edit_step(step.number)"><span translate>Edit</span></p>
                            <!-- <p>Номер попытки: {{step.number}}</p> -->
                            <div style="margin: 0px 0 10px 0;"><span translate>Number of words</span>: {{get_number_words(step.text)}}</div>

                            <p compile="step.text"></p>
                            <!-- <pre>{{step.text}}</pre> -->
                        </div>
                    </div>


                    



                    <!-- Отображение ответов преподавателя -->
                    <div ng-if="step.type=='teacher' && step.mode=='finish'" style="width: 96%;text-align: right;">
                        <div style="margin: 20px 10px 20px 10px;
                                width: 100%;
                                background-color: rgba(99, 38, 2, 0.18);
                                padding: 10px;
                                text-align: left;
                                display: inline-block;">

                            <p style="float:right"><span translate>Teacher</span></p>
                            <p><span translate>Comments from teacher</span></p>
                            <p compile="step.text"></p>
                        </div>
                    </div>
                </div>





            </div>




    </md-content>
</md-dialog>