<div dynamic-ctrl="getController()" class="select_enable">
    <div class="shadow" style="position: absolute;
        width: 200px;
        z-index: 100;
        padding: 7px;
        background-color: #FF8100;
        top: -109px;
        color: white;
        right: 0;">

        <div ng-click="back_to_lessons()" style="text-decoration:underline;">Back to the list of lessons</div>
    </div>


    <div class="play_div">
        
        <div class="play_panel" style="
        height: 100%;
        width: 90%;
        display: inline-block;
        margin-top: -50px;">


            <div>
                <div class="shadow" style="width: 100%;background-color: white;text-align: left;
        padding: 20px;min-height: 400px;position: relative;">
                    <h2>{{model.lesson_dialog.lesson.name}}</h2>
                    
                    <div>
                        <h3>Task</h3>
                        <p style="font-size: 18px;">{{model.lesson_dialog.lesson.description}}</p>
                    </div>


                    <div>
                        <!-- MEDIA урока -->    
                        <div class="question_picture" style="width: 100%;margin: 0 0 20px 0;" ng-if="model.lesson_dialog.lesson.media">
                            <img ng-if="model.lesson_dialog.lesson.media_type == 'image'" ng-src="{{model.lesson_dialog.lesson.media}}" class="md-card-image" alt="Картинка вопроса" style="width:400px;margin: 0 auto;"/>

                            <div ng-if="model.lesson_dialog.lesson.media_type == 'video'" class="md-card-image" style="width:400px;margin: 0 auto;">
                                <videogular>
                                    <vg-media vg-src="model.lesson_dialog.lesson.media_sources" vg-type="video">
                                    </vg-media>
                                    <vg-controls>
                                        <vg-play-pause-button></vg-play-pause-button>
                                        <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                        <vg-scrub-bar>
                                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                        </vg-scrub-bar>
                                        <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                        <vg-volume>
                                            <vg-mute-button></vg-mute-button>
                                            <vg-volume-bar></vg-volume-bar>
                                        </vg-volume>
                                        <vg-fullscreen-button></vg-fullscreen-button>
                                    </vg-controls>

                                    <vg-overlay-play></vg-overlay-play>
                                    <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
                                </videogular>
                            </div>

                            <div ng-if="model.lesson_dialog.lesson.media_type == 'audio'" class="md-card-image" style="width:400px;margin:0 auto;">
                                <videogular>
                                    <vg-media vg-src="model.lesson_dialog.lesson.media_sources" vg-type="audio">
                                    </vg-media>
                                    <vg-controls>
                                        <vg-play-pause-button></vg-play-pause-button>
                                        <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                        <vg-scrub-bar>
                                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                        </vg-scrub-bar>
                                        <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                        <vg-volume>
                                            <vg-mute-button></vg-mute-button>
                                            <vg-volume-bar></vg-volume-bar>
                                        </vg-volume>
                                    </vg-controls>

                                    <vg-overlay-play></vg-overlay-play>
                                    <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
                                </videogular>
                            </div>


                        </div>

                    </div>



                    <md-switch ng-model="model.lesson_dialog.data.active" aria-label="Lesson active" ng-true-value="false" ng-false-value="true" class="md-warn" style="margin:0;float:left;"
                    ng-change="commit()">
                    </md-switch>

                    <div class="" style="font-size: 18px;text-align:left;
                        font-weight: 300;" ng-if="model.lesson_dialog.data.active == true">
                        Lesson is active
                    </div>
                    <div class="" style="font-size: 18px;
                        text-align:left;
                        font-weight: 300;margin: 0 0 0 -20px;" ng-if="model.lesson_dialog.data.active == false">
                        Lesson is stoped
                    </div>

                    <div ng-if="model.lesson_dialog.data.steps.length == 0">
                        <h4>The student has't made the task yet</h4>
                    </div>
                    


                    <div ng-repeat="step in model.lesson_dialog.data.steps.slice().reverse()">
                        <div ng-if="!get_answer_teacher() && step.type=='teacher' && !step.mode" style="margin-top:20px;color:red;">
                            <p>After completing the response is required to press the "Send feedback"</p>
                        </div>


                        <div ng-if="$first == true && !get_answer_teacher() && step.type == 'pupil' && step.mode != 'finish'">
                            <h4>Lesson edited by pupil<h4>
                        </div>
                        <div ng-if="$first == true && !get_answer_teacher() && step.type == 'teacher' && step.mode == 'finish'">
                            <h4>Lesson edited by pupil<h4>
                        </div>

                        <div ng-if="$first && get_answer_teacher()">
                            <div ripple class="btn-secondary shadow" style="margin: 15px 0 0 0;position:relative;font-size: 18px;" ng-click="add_answer_teacher()" >Give feedback</div>
                        </div>



                        <div ng-if="step.type=='teacher' && step.mode == 'finish'" style="width: 100%;text-align: left;">

                            
                            <div style="margin: 20px 10px 20px 10px;
                                    width: 100%;
                                    background-color: rgba(99, 38, 2, 0.18);
                                    padding: 20px;
                                    text-align: left;
                                    display: inline-block;
                                    position:relative;">


                                <!-- loading 
                                <div ng-if="model.lesson_dialog.loading == true" style="width:100%;height:100%;background-color: rgb(220, 179, 155);position: absolute;margin: -20px;">
                                    <div style="margin: 0 auto;width: 50px;margin-top: 20px;">
                                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                    </div>
                                </div>
                                -->

                                <p style="float:right">Teacher</p>
                                


                                <p>Comment</p>
                                
                                <p style="font-size: 18px;" compile="step.text"></p>


                            </div>

                        </div>


                        <div ng-if="step.type=='teacher' && step.mode == 'edit'" style="width: 100%;text-align: left;">

                            <!--
                            <textarea style="resize: none;height: 200px;margin: 20px 10px 20px 10px;width: 500px;padding:10px;" ng-model="model.lesson_dialog.temptext">
                            </textarea>
                            -->
                           
                            <div style="resize: none;height: 300px;margin: 20px 10px 20px 10px;padding:10px;">
                                <textarea ckeditor="editorOptions" ng-model="model.lesson_dialog.temptext"></textarea>
                            </div>
                                
                            
                            <div ng-if="$first == true">
                                <div  ng-if="$first == true" class="btn-primary shadow" ng-click="save_step(step.number)">Save</div>
                                <div  ng-if="$first == true" class="btn-primary shadow" ng-click="delete_step(step.number)">Delete</div>
                            </div>

                        </div>

                        <div ng-if="step.type=='teacher' && !step.mode" style="width: 100%;text-align: right;">
                            <div style="margin: 20px 10px 20px 10px;
                                    width: 100%;
                                    background-color: rgba(99, 38, 2, 0.18);
                                    padding: 20px;
                                    text-align: left;
                                    display: inline-block;
                                    position:relative;">


                                <!-- loading -->
                                <div ng-if="$first == true && model.lesson_dialog.loading == true" style="width:100%;height:100%;background-color: rgb(220, 179, 155);position: absolute;margin: -20px;">
                                    <div style="margin: 0 auto;width: 50px;margin-top: 20px;">
                                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                    </div>
                                </div>



                                <p style="float:right">Teacher</p>
                                <p  ng-if="$first == true" style="float:right;cursor:pointer;text-decoration:underline;margin: 0 14px 0px 0px;" ng-click="commit_step($event, step.number)">Send feedback</p>

                                <p  ng-if="$first == true" style="float:right;cursor:pointer;text-decoration:underline;margin: 0 14px 0px 0px;" ng-click="delete_step(step.number)">Delete</p>
                                <p  ng-if="$first == true" style="float:right;cursor:pointer;text-decoration:underline;margin: 0 14px 0px 0px;" ng-click="edit_step(step.number)">Edit</p>
                                <!--<p>Comment: {{step.number}}</p>-->
                                
                                <p style="font-size: 18px;" compile="step.text"></p>


                            </div>
                        </div>


                        <!-- Отображение ответов ученика -->
                        <div ng-if="step.type=='pupil' && step.mode=='finish'" style="width: 100%;text-align: left;">

                            <div style="margin: 20px 10px 20px 10px;
                                    width: 100%;
                                    background-color: rgba(2, 99, 90, 0.18);
                                    padding: 20px;
                                    text-align: left;
                                    display: inline-block;">

                                
                                <p style="float:right">Pupil</p>
                                <div class="btn btn-secondary shadow" ripple style="float:right;margin:-9px 10px;" ng-click="estimate($event, step.number)">
                                    Give a score
                                </div>
                                <div style="float:right" ng-if="step.estimate">Current score: 
                                    TA {{step.estimate.estimate_task}} /
                                    CC {{step.estimate.coherence_task}} /
                                    LR {{step.estimate.lexical_task}} /
                                    GA {{step.estimate.grammatical_task}}
                                </div>


                                <!-- <p>Message: {{step.number}}</p> -->
                                <div style="margin:-10px 0 10px 0;">Number of words: {{get_number_words(step.text)}}</div>

                                <!-- <p style="font-size: 18px;" ng-bind-html="step.text"></p>-->
                                <pre style="font-size: 18px;">{{step.text}}</pre>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>