<md-dialog aria-label="change password" class="change_password">
  <md-content>
        <div class="content">
            <div class="change_password_title">Смена пароля</div>
            <div class="label_container">
                <md-input-container  style="text-align: left;">
                    <label>Введите пароль</label>
                    <input ng-model="model.profile.pass1" type="password">
                </md-input-container>
            </div>

            <div class="label_container">
                   <md-input-container  style="text-align: left;">
                    <label>Потдвердите пароль</label>
                    <input ng-model="model.profile.pass2" type="password">
                </md-input-container>
            </div>

            <div class="label_container error_message">
                <span ng-bind-html="model.profile.error_msg"></span>
            </div>



            <button type="button" ng-click="submit($event)" class="shadow btn_change_password">
                Поменять
            </button>
            <a href="" class="cancel" ng-click="closeDialog()">Отменить</a>
        </div>
  </md-content>
</md-dialog>