<div class="container">

    <div style="height:520px;width:100;">
        <div class="left_panel col-md-6" style="height:100%;padding: 20px 0px;">
            
            <div class="block_1 shadow" style="
                background-image: url('/assets/img/block_1.png');
                background-repeat: no-repeat;
                width: 550px;
                height: 480px;
            "></div>
        </div>
        <div class="right_panel col-md-6" style="
            height:100%;padding: 20px 0px;">
            <div class="block_2 shadow" style="
                width:100%;height: 230px;background-color: white;
                ">

                <div style="
                background-image: url('/assets/img/block_2.png');
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                background-size: contain;
                    "></div>
            </div>
            <div class="block_3 shadow" style="
                margin-top:20px; width:100%; 
                height: 230px;
                background-color: white;
                ">
                <div style="
                background-image: url('/assets/img/block_3.png');
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                background-size: contain;
                    "></div>
            </div>
        </div>
        
    </div>


    <div class="col-md-12" style="height:350px;padding: 0;">
        <h4>Описание</h4>
        <div style="width:100%; height:100%;">
            <div class="col-md-4" style="height: 100%;padding: 0 10px 0px 0px;">
                <div class="shadow" style="
                    background-color: white;
                    background-image:url('/assets/img/new_1.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 100%;
                    "
                >
                </div>
                </div>
            <div class="col-md-4" style="height: 100%;padding: 0 10px 0px 0px;">
                <div class="shadow" style="
                    background-color: white;
                    background-image:url('/assets/img/new_2.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 100%;
                    "
                >
                </div>
                </div>
            <div class="col-md-4" style="height: 100%;padding: 0 10px 0px 0px;">
                <div class="shadow"  style="
                    background-color: white;
                    background-image:url('/assets/img/new_3.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 100%;
                    "
                >
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="height: 350px;
    padding: 0;
    margin-top: 58px;">
        <h4>Отзывы</h4>
        <div style="height: 100%;width:100%;">
                <div style="
                    background-image:url('/assets/img/testimonial.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 100%;
                    "
                >
                </div>
            </div>
    </div>
    
    
</div>