fixtures/uploads.zip
djangoapps/pepsi/static/compiled/*
*.pyc
.DS_Store
._.DS_Store
logs/
/.idea*
*.db
*.sqlite3
/djangoapps/*.db
temp/

/djangoapps/www/assets
/uploads
/djangoapps/uploads
settings_local*

/compiler/node_modules/
.coverage
htmlcov/
activate
.virtualenv/*
_gsdata_
scorm/*
