<div class="lesson_content" style="margin: 90px 20px 20px 20px;">
        


        <div class="shadow page_editor pull-left">
            <div ng-if="model.editor.current_lesson.pages[model.editor.current_page_index].is_correct==false" class="incorrect_page_content"></div>

            <p class="pull-left" style="padding:20px;font-size:20px;font-weight:400;" ng-if="model.editor.current_lesson.pages.length > 0">
            Страница № {{model.editor.current_lesson.pages[model.editor.current_page_index].number}}
            </p>
            <div class="col-md-1 pull-right" style="margin-right: 30px;margin-top: 10px;" ng-if="model.editor.current_lesson.pages.length > 0">
                <div class="shadow btn-round"  ng-if="model.editor.new_lesson == false" ng-click="delete_current_page($event)"><a class="icon-delete"  href="#" style="opacity: 0.2;height: 27px;float:left;"></a>
                </div>
            </div>

            <div class="activity" style="right: 100px;top: 16px;position: absolute;">
                <div ng-show="model.editor.loading">Сохранение...</div>
                <div ng-show="model.editor.unsaved">Изменения не сохранены...</div>
            </div>

            
            <div ng-if="model.editor.current_lesson.pages.length > 0" style="clear: both;">
                
                <div style="width:100%;padding: 10px 20px 10px 20px;">
                    <md-input-container  style="text-align: left;">
                        <label>Вопрос</label>
                        <textarea style="width:100%; height:200px;resize: none;" 
                            ng-model="model.editor.current_lesson.pages[model.editor.current_page_index].text"
                            ng-change="make_dirty_data()"
                            ng-blur="finish_changed_page_text()"
                        ></textarea>
                    </md-input-container>
                </div>

                <div style="width:100%;padding: 10px 20px 10px 20px;text-align: left;display: inline-table;">
                    <div>
                        <div ripple class="shadow btn-primary" accept="image/jpeg,image/png,image/gif,video/mp4,audio/mp3" ngf-accept="'*.png,*.jpg,*.mp3,*.mp4'" ngf-select ngf-change="page_picture_upload($files, $event)">Медиа вопроса
                             <div style="height:2px;width:100%;background-color:red;"
                             ng-style="{width: progressUpload}"></div>
                        </div>
                    </div>
                    <div class="remove_question_picture" ng-if="model.editor.current_lesson.pages[model.editor.current_page_index].media" ng-click="remove_question_media()" style="text-decoration:underline;color: #4988C9;">Удалить медиа</div>
                    <div ng-if="model.editor.current_lesson.pages[model.editor.current_page_index].media">
                        <md-card class="picture_lesson" style="width: 400px;margin-top: 70px;">
                            <img ng-if="model.editor.media_type == 'image'" ng-src="{{model.editor.current_lesson.pages[model.editor.current_page_index].media}}" class="md-card-image" alt="Картинка вопроса">
                            
                            <div ng-if="model.editor.media_type == 'video'" class="md-card-image" style="width:400px;">
                                <videogular>
                                    <vg-media vg-src="model.editor.media_sources" vg-type="video">
                                    </vg-media>
                                    <vg-controls>
                                        <vg-play-pause-button></vg-play-pause-button>
                                        <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                        <vg-scrub-bar>
                                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                        </vg-scrub-bar>
                                        <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                        <vg-volume>
                                            <vg-mute-button></vg-mute-button>
                                            <vg-volume-bar></vg-volume-bar>
                                        </vg-volume>
                                        <vg-fullscreen-button></vg-fullscreen-button>
                                    </vg-controls>
 
                                    <vg-overlay-play></vg-overlay-play>
                                    <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
                                </videogular>
                            </div>

                            <div ng-if="model.editor.media_type == 'audio'" class="md-card-image" style="width:400px;">
                                <videogular>
                                    <vg-media vg-src="model.editor.media_sources" vg-type="audio">
                                    </vg-media>
                                    <vg-controls>
                                        <vg-play-pause-button></vg-play-pause-button>
                                        <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                        <vg-scrub-bar>
                                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                        </vg-scrub-bar>
                                        <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                        <vg-volume>
                                            <vg-mute-button></vg-mute-button>
                                            <vg-volume-bar></vg-volume-bar>
                                        </vg-volume>
                                    </vg-controls>
 
                                    <vg-overlay-play></vg-overlay-play>
                                    <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
                                </videogular>
                            </div>


                        </md-card>
                    </div>
                </div>

                <div ng-include="'/assets/partials/editor_lesson_variants.html'"></div>

            </div>
            <div style="min-height:100px;margin:20px;" ng-if="model.editor.current_lesson.pages.length == 0">
                <p>В уроке нет созданный страниц. Создайте страницы через меню справа.</p>
            </div>

        </div>



        <div class="lesson_pages">
                
                <div class="shadow editor_page_title" style="width: 100%;
                    height: 70px;
                    background-color: white;
                    font-size: 20px;
                    font-weight: 500;
                    padding: 19px 0 0 0;
                    position: relative;
                    margin-bottom: 40px;
                "> СТРАНИЦЫ УРОКА
                    <div fab ripple class="fab-add-page" fab-class="fab-add-page" fab-class-menu="fab-add-page-menu" icon="icon-add" menu-right-x="58" menu-y="21" menu-width="380" menu-height="255">
                        <div><div ng-click="add_page('text')">
                            <i class="type-text-image" style="float: left;margin-right:10px"></i>
                            Страница с текстовым вопросом</div>
                        </div>
                        <div><div ng-click="add_page('checkbox')">
                            <i class="type-checkbox-image" style="float: left;margin-right:10px"></i>
                            Страница с выбором нескольких ответов</div>
                        </div>
                        <div><div ng-click="add_page('radiobox')">
                            <i class="type-radiobox-image" style="float: left;margin-right:10px"></i>
                            Страница с выбором одного ответа</div>
                        </div>
                        <div><div ng-click="add_page('pairs')">
                            <i class="type-pairs-image" style="float: left;margin-right:10px"></i>
                            Страница с подбором пары</div>
                        </div>
                        <div><div ng-click="add_page('words_in_text')">
                            <i class="type-pairs-image" style="float: left;margin-right:10px"></i>
                            Страница с подбором слов в тексте</div>
                        </div>
                    </div>

                </div>


                <div id="list_pages" class="list_pages" sv-root sv-part="model.editor.current_lesson.pages"
                    sv-on-sort="finish_moving($item, $partFrom, $partTo, $indexFrom, $indexTo)">
                    
                    <div class="shadow page_item" ng-click="change_page($index, $event)"
                        ng-repeat="page in model.editor.current_lesson.pages"
                        ng-class="{active: $index == model.editor.current_page_index}"
                        sv-element="opts">
                        <div ng-if="page.is_correct==false" class="incorrect_page"></div>
                        <div ng-if="page.is_correct==true" class="correct_page"></div>

                        <div class="list_pages_content">
                            <i ng-if="page.type == 'text'" class="type-text-image" style="float: left;margin: 14px 0 0 10px;"></i>
                            <i ng-if="page.type == 'radiobox'" class="type-radiobox-image" style="float: left;margin: 14px 0 0 10px;"></i>
                            <i ng-if="page.type == 'checkbox'" class="type-checkbox-image" style="float: left;margin: 14px 0 0 10px;"></i>
                            <i ng-if="page.type == 'pairs'" class="type-pairs-image" style="float: left;margin: 14px 0 0 10px;"></i>
                            <div style="display: inline-block;">
                                <div class="list_pages_content_title"> Страница № {{page.number}}</div>
                                <div class="list_pages_content_text">

                                {{page.text | htmlToPlaintext | limitTo: 25 }}{{page.text.length > 25 ? '...' : ''}}</div>
                            </div>
                            <i class="material-icons" style="float: right;
                                cursor: move;
                                opacity: 0.3;
                                margin: 18px 3px 0 0;
                                font-size: 32px">open_with</i>
                        </div>
                    </div>
                </div>

        </div>
</div>
