<div class="container-fluid editor" ng-controller="EditCtrl" style="padding: 30px;">
    <div>
        <md-input-container>
            <label>Название урока</label>
            <input class="lesson_name" type="text" 
                    ng-model="model.current_lesson.name"
                    ng-change="make_dirty_data()"
                    ng-model-onblur ng-blur="finish_changed_lesson()">
        </md-input-container>
        <md-input-container>
            <p><label>Описание урока</label></p>
            <md-content layout-padding>
                <textarea
                    class="lesson_description" 
                    ng-model="model.current_lesson.description"
                    ng-change="make_dirty_data()"
                    ng-model-onblur ng-blur="finish_changed_lesson()"
                    style="width: 100%;">
                </textarea>
            </md-content>
            
        </md-input-container>
        <md-input-container>
            <label>Урока доступен?</label>
            <input class="lesson_is_active" type="checkbox" 
                    ng-model="model.current_lesson.is_active"
                    name="checkbox"
                    value="{{model.current_lesson.is_active}}"
                    ng-checked="model.current_lesson.is_active == true"
                    ng-value="true"
                    ng-change="finish_changed_lesson()">
        </md-input-container>
        <div class="activity">
            <div id="loading" style="display:none;">Сохранение...</div>
            <div id="unsaved" style="display:none;">Изменения не сохранены...</div>
        </div>
                
    </div>
    <div class="editor_panel">
        <div class="pages_panel">
            
            <div class="btn-group">

                <button type="button" class="btn btn-danger dropdown-toggle btn_add_page" data-toggle="dropdown">
                    <i class="icon-plus"></i>Добавить страницу
                    <span class="caret" style="margin-left:6px;"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-click="add_page('text');">
                        <a href="#">
                            <i class="type-text-image" style="float: left;"></i>
                            <div style="margin: 8px 0px 0px 15px;
                                display: inline-block;">{{model.page_types[0].text}}
                            </div>
                        </a>
                    </li>
                    <li ng-click="add_page('checkbox');">
                        <a href="#">
                            <i class="type-radiobox-image"></i>
                            <div style="margin: 8px 0px 0px 15px; display: inline-block;">
                                {{model.page_types[1].text}}
                            </div>
                        </a>
                    </li>
                    <li ng-click="add_page('radiobox');">
                        <a href="#">
                            <i class="type-checkbox-image" style="float: left;"></i>
                            <div style="margin: 8px 0px 0px 15px; display: inline-block;">
                                {{model.page_types[2].text}}
                            </div>
                        </a>
                    </li>
                    <li ng-click="add_page('pairs');">
                        <a href="#">
                            <i class="type-pairs-image" style="float: left;"></i>
                            <div style="margin: 8px 0px 0px 15px; display: inline-block;">
                                {{model.page_types[3].text}}
                            </div>
                        </a>
                    </li>
                </ul>
            </div>


            <div id="list_pages" class="list_pages" sv-root sv-part="model.pages"
                sv-on-sort="finish_moving($item, $partFrom, $partTo, $indexFrom, $indexTo)">
                <div class="btn btn-default" ng-click="change_page($index, $event)"
                style="width:100%;" ng-repeat="page in model.pages"
                ng-class="{active: $index == model.current_page_index}"
                sv-element="opts">
                    <div>
                        {{get_type_name(page.type)}}
                        <span class="pull-right" style="margin-right:5px;">
                            {{page.number}}
                        </span>
                        <br>
                        {{page.text | htmlToPlaintext | limitTo: 25 }}{{page.text.length > 25 ? '...' : ''}}
                    </div>
                </div>
            </div>

        </div>


        <div class="current_page" ng-if="model.pages.length == 0">
           Создайте страницу урока
        </div>



        <div class="current_page" ng-if="model.pages.length > 0">
            <div class="page_header">
                <div class="page_number" style="font-size:25px;">
                Страница № {{model.pages[model.current_page_index].number}}</div>

                <button class="btn pull-right" style="height: 40px; width:40px; padding:0; margin-left: 5px" title="Удалить вопрос" ng-click="remove_page()"> 
                    <i class="glyphicon glyphicon-trash"></i>
                </button>

                
            </div>
            <div class="page_body" style="padding: 20px 0;">
                <text-angular class="page_text_textarea" 
                    ng-model="model.pages[model.current_page_index].text"
                    ng-change="make_dirty_data()"
                    ng-blur="finish_changed_page_text()"
                    ta-toolbar="ta_toolbar()"
                    ta-html-editor-class="page_text_textarea"
                    ></text-angular>
                
                <div ng-if="model.pages[model.current_page_index].type == 'radiobox'" class="variant_radiobox">
                    
                    <button class="btn btn-info add_variant" ng-click="add_variant('radiobox')">
                    Добавить вариант ответа</button>

                    <ul class="radio_variants">
                        <li ng-repeat="item in model.pages[model.current_page_index].variants" class="variant">
                            <input class="variant_text_radio" 
                                type="radio"
                                ng-model="item.right_answer"
                                name="radiobox"
                                ng-value="true" 
                                ng-checked="item.right_answer == true"
                                ng-change="finish_changed_variant(item.id)"
                                >
                            
                            <input class="variant_text" type="text" ng-model="item.text"
                                ng-change="make_dirty_data()"
                                ng-model-onblur ng-blur="finish_changed_variant(item.id)">
                            
                            <button class="btn" style="width: 28px;padding: 4px;height: 28px;"
                                ng-click="remove_variant(item.id)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <div ng-if="model.pages[model.current_page_index].type == 'checkbox'" class="variant_checkbox">
                    <button class="btn btn-info add_variant" ng-click="add_variant('checkbox')">
                    Добавить вариант ответа</button>


                    <ul class="checkbox_variants">
                        <li ng-repeat="item in model.pages[model.current_page_index].variants" class="variant">
                            <input class="variant_text_checkbox" type="checkbox" 
                                ng-model="item.right_answer"
                                name="checkbox"
                                value="{{item.right_answer}}"
                                ng-checked="item.right_answer == true"
                                ng-value="true"
                                ng-change="finish_changed_variant(item.id)">
                            <input class="variant_text" type="text" ng-model="item.text"
                                ng-change="make_dirty_data()"
                                ng-model-onblur ng-blur="finish_changed_variant(item.id)">
                            <button class="btn" style="width: 28px;padding: 4px;height: 28px;"
                                ng-click="remove_variant(item.id)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                
                <div ng-if="model.pages[model.current_page_index].type == 'text'" class="variant_text">
                    <input class="variant_text" type="text" 
                    ng-model="model.pages[model.current_page_index].variants[0].text"
                    ng-change="make_dirty_data()"
                    ng-model-onblur ng-blur="finish_changed_variant(item.id)">
                </div>

                <div ng-if="model.pages[model.current_page_index].type == 'pairs'" class="variant_pairs">
                    <button class="btn btn-info add_variant" ng-click="add_variant('pairs')">
                    Добавить пару</button>

                    <ul class="checkbox_pairs">
                        <li ng-repeat="item in model.pages[model.current_page_index].variants" ng-if="item.pair_type == 'question'" class="variant">
                            <input class="variant_pair_page" style="width:45%;"
                                type="text"
                                ng-model="item.text"
                                ng-change="make_dirty_data()"
                                ng-model-onblur ng-blur="finish_changed_variant(item.id)">

                            <input class="variant_pair_answer" style="width:45%;" type="text"
                                ng-model="item.pair_object.text"
                                ng-if="item.pair_object.pair_type == 'answer'"
                                ng-change="make_dirty_data()"
                                ng-model-onblur ng-blur="finish_changed_variant(item.id)">

                            <button class="btn" style="width: 28px;padding: 4px;height: 28px;"
                                ng-click="remove_variant(item.id)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                </div>
            </div>
        </div>
    </div>
</div>