
<div class="row" style="padding:30px;">
    <div class="col s4">
        <div class="third clearfix">
                <h3>Enrichment </h3>     
                <div class="content">
                    <p>Ever since Socrates, asking questions has been the best way to convey information. Complement your instructional materials with quizzes to boost student comprehension.
                    <br>
                    <a href="/features">Learn More</a></p>
                </div>
            </div>
      </div>
      <div class="col s4">
        <div class="third gut clearfix">
                <h3>Assessment</h3>        
                <div class="content">
                    <p>We all learn better when we have a solid sense of our own progress. Get a handle on how well your students are learning, and help them do the same.
                    <br>
                    <a href="/features">Learn More</a></p>
                </div>
            </div>
      </div>
      <div class="col s4">
        <div class="third clearfix">
                <h3>Engagement</h3>
                <div class="content">
                    <p>Quizzes are fun! Give your users a chance to play with their knowledge, or challenge them to tackle tricky puzzles.
                    <br>
                    <a href="/features">Learn More</a></p>
                </div>
            </div>
      </div>

</div>