<div class="lesson" style="min-height:450px;text-align:center">
<div class="shadow lesson_panel">

    <div class="mylesson_list" ng-if="user.is_authenticated && user.account_type==1">
                
            <div fab ripple fab-class="fab-add-lesson" icon="icon-add" fab-class-menu="fab-add-lesson-menu" icon="icon-add" menu-right-x="178" menu-y="0" menu-width="200" menu-height="103">
                <div><div ng-click="main.new_lesson()">Создать новый <b>урок</b></div></div>
            </div>





            <div class="col-md-12 lessons_header">
                <div class="col-md-2 mylesson_title">Мои уроки</div>
                <div class="col-md-3 pull-left search_panel" style="padding:0;height: 60px;">
                    <!--<a class="icon-search"  href="#" style="opacity: 0.2;">-->
                    <md-input-container style="font-size: 18px;
                        margin: -10px 0px 0px 10px;;
                        color: #c3c3c3;
                        height: 50px;">
                        <label>
                            <a class="icon-search"  href="#" style="opacity: 0.2;height: 27px;float:left;"></a><div style="margin: -4px 0 0 0;">Поиск</div>
                        </label>
                        <input ng-model="user.company" placeholder="Address 2">
                    </md-input-container>


                </div>
                <!--
                <div class="col-md-4" style="height:100%;padding: 0px 0 0 0;">

                    <div style="font-size: 20px;
                       margin: 7px 0px 0px 10px;
                        color: black;
                        float: left;">Мои уроки {{ data.cb2 }}</div>
                    
                    <div style="width: 40px;
                        height: 18px;
                        display: inline-block;
                        cursor: pointer;
                        margin: 9px 10px 0px 18px;
                        float: left;">
                        <md-switch ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn" style="margin:0">
                        
                        </md-switch>
                    </div>
                    <div style="font-size: 20px;
                        margin: 7px 0px 0px 0px;
                        color: black;
                        float: left;">Мои ученики</div>
                </div>
                -->
            </div>

            <div class="col-md-12" style="padding: 0;">
                <table class="table" style="width:100%;margin:0">
                    <thead style="background-color:#e3eaf1;height:60px">
                        <th class="table_th">
                            Действия над уроком
                        </th>
                        <th class="table_th">
                            Название урока
                        </th>
                        <th class="table_th">
                            Краткое описание урока
                        </th>
                        <th class="table_th">
                            Назначение
                        </th>
                        <th class="table_th">
                            Статистика
                        </th>
                    </thead>

                    <tbody>
                        <tr ng-repeat="lesson in model.lesson.lessons">
                            <td style="width: 170px;vertical-align: middle;position:relative;">
                                <div class="lesson_incorrect" ng-if="lesson.is_correct==false"></div>
                                <div class="lesson_correct" ng-if="lesson.is_correct==true"></div>
                                <div class="shadow btn-round" ripple style="position: relative;" lesson-action lesson-id="{{lesson.id}}">
                                    <a class="icon-menu"  href="#"></a>
                                </div>
                            </td>
                            <td style="width: 200px;text-align:left">
                                <span ng-if="lesson.name">{{lesson.name}}</span>
                                <span ng-if="!lesson.name">Урок без имени</span>
                            </td>
                            <td style="min-width: 200px;text-align:left">
                                <span>{{lesson.description | htmlToPlaintext | limitTo: 25 }}{{page.text.length > 25 ? '...' : ''}}</span>
                            </td>
                            <td style="min-width: 100px;text-align:left">
                                <p ng-repeat="enroll in lesson.enrolls">
                                    {{enroll.learner.email}}
                                </p>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>


                </table>

            </div>









        <!-- <code>{{my_lessons}}</code> -->
        <div ng-if="model.lesson.lessons_for_me.length > 0">
            <h4>Назначенные на меня уроки</h4>
            <ul>
                <li ng-repeat="lesson in model.lesson.lessons_for_me" style="margin:5px;">
                    {{$index + 1}}. {{lesson.name}} <br>
                    {{lesson.description}} <br>
                    страниц в уроке: {{lesson.pages.length}}<br>
                    Номер последней попытки: {{lesson.enrolls[0].number_of_attempt}}<br>
                    Результат прохождения: 
                        <span ng-if="lesson.enrolls[0].success == true">Пройденно</span>
                        <span ng-if="lesson.enrolls[0].success && lesson.enrolls[0].success==false">Непройдено</span>
                    <br>
                    <button class="btn" ng-click="play_lesson(lesson.id)">Старт</button>
                    <button class="btn" ng-click="move_to_archive(lesson.id)"
                    ng-if="lesson.enrolls[0].success==true">В архив</button>
                </li>
            </ul>

            <div ng-if="model.lesson.archive.length > 0">
                <br><br>
                <h4>Уроки в архиве:</h4>
                 <ul>
                    <li ng-repeat="l in model.lesson.archive" style="margin:5px;">
                        {{$index + 1}}. {{l.lesson.name}} <br>
                        {{l.lesson.description}} <br>
                        кол-во попыток: {{l.number_of_attempt}}<br>
                        Результат прохождения: 
                            <span ng-if="l.success == true">Пройденно</span>
                            <span ng-if="l.success && lesson.enrolls[0].success==false">Непройдено</span>
                        <br>
                    </li>
                </ul>
            </div>


        </div>
    </div>

    <div class="row mylessons" ng-if="user.is_authenticated && user.account_type==2" style="padding: 10px 50px;min-height: 400px;">
            
            <md-button ng-click="find_teacher($event)" class="md-raised pull-right" style="background-color: #FF9E37;">Найти преподователя</md-button>
    </div>
</div>
</div>