<div class="lesson" style="min-height:450px;text-align:center">
    <div class="shadow lesson_panel">

        <div class="lessons_pupil" ng-style="model.lessons.length > 0 && {'min-height': '50px'}">


            <div ng-if="model.lessons.length == 0 && model.nolessons == true">
                <!--
                <md-button ng-click="find_teacher($event)" class="md-raised pull-right" style="background-color: #FF9E37;">Найти преподавателя</md-button>
                -->
                <div style="padding: 100px;font-size: 20px;">
                    <p>На вас пока не назначенно ни одного урока</p>
                </div>
            </div>

            <div ng-if="model.lessons.length > 0">
                <div class="col-md-12 lessons_header">
                    <div class="mylesson_title">Мои уроки</div>
                    <!--
                    <md-button ng-click="find_teacher($event)" class="md-raised pull-right" style="background-color: #FF9E37;margin: -46px 18px 0 0;">Найти преподавателя</md-button>
                    -->
                </div>
                <div ng-if="model.lessons.length > 0">
                    <div style="padding: 0;">
                        <table class="table lessons_list" style="margin-bottom: 0;">
                            <thead style="background-color:#e3eaf1;height:60px">
                                <th class="table_th">
                                    Запуск
                                </th>
                                <th class="table_th">
                                    Название урока
                                </th>
                                <th class="table_th">
                                    Краткое описание урока
                                </th>
                                <th class="table_th">
                                    Кем назначен урок
                                </th>
                                <th class="table_th">
                                    Действия
                                </th>
                            </thead>

                            <tbody>
                                <tr ng-repeat="item in model.lessons" ng-style="item.success == null && {'background-color': '#E8F0F5'}">
                                    <td style="width: 170px;vertical-align: middle;position:relative;"
                                        >
                                        <div class="lesson_incorrect" ng-if="item.success==false"></div>
                                        <div class="lesson_correct" ng-if="item.success==true"></div>
                                        
                                        <div style="display: flex;cursor: pointer;color:#337ab7" ng-click="play_lesson(item.id)" 
                                            ng-class="{enroll_row_required_attention1: item.required_attention_by_pupil}"><i class="material-icons">play_arrow</i>
                                            <div ng-if="item.required_attention_by_pupil"
                                                style="color:red;position: absolute;top: 2px;left: 17px;font-size:10px;">Есть не прочитанный отзыв !</div>
                                            <div style="margin: 2px 0 0 6px;">
                                             Выполнить</div>
                                        <!--
                                        <div ng-class="{enroll_required_attention: item.required_attention_by_pupil}" style="margin: -2px 0 0 0;"></div>
                                        -->
                                        </div>
                                    </td>
                                    <td style="width: 200px;text-align:left;padding: 17px 0 0 0;">
                                        <span ng-if="item.lesson.name">{{item.lesson.name | htmlToPlaintext | limitTo: 25 }}{{item.lesson.name.length >= 25 ? '...' : ''}}</span>
                                        <span ng-if="!item.lesson.name">Урок без имени</span>
                                    </td>
                                    <td style="min-width: 200px;max-width: 250px;text-align:left;padding: 17px 0 0 0;">
                                        <span>{{item.lesson.description | htmlToPlaintext | limitTo: 25 }}{{item.lesson.description.length >= 25 ? '...' : ''}}</span>
                                    </td>
                                    <td class="enroll_pupils" style="width: 270px;text-align:left;">
                                        <div style="width: 270px;text-align:left;overflow:auto;height: 20px;margin: 10px;">
                                            <div class="enroll_email" style="color:#2c8de1;text-decoration:underline;float: left;margin: 0 10px 0 0;"> {{item.created_by.email | limitTo: 15 }}
                                            {{item.created_by.email.length >= 15 ? '...' : ''}} 
                                            </div>
                                            <div> ({{item.created_at | date:'yyyy-MM-dd HH:mm'}})</div> 
                                        </div>
                                    </td>
                                    <td style="text-align:left;width: 130px;">
                                        <div ng-if="item.success==null" style="width:100%;margin: 10px;cursor: pointer;" ng-click="reject_lesson($event, item.id)">
                                        <i class="material-icons" style="float: left;color: red;margin: -1px 5px 0 0;">sync_disabled</i>
                                        Отвергнуть</div>
                                        <div ng-if="item.success!=null" style="width:100%;margin: 10px;cursor: pointer;"  ng-click="to_archive($event, item.id)">
                                        <i class="material-icons" style="float: left;color: #2c8de1;margin: -1px 5px 0 0px;">archive</i>В архив</div>
                                    </td>
                                </tr>
                            </tbody>


                        </table>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
