<div style="min-height:600px;">
    <div class="row mylessons" ng-if="user.is_authenticated && user.account_type==1" style="padding: 10px 50px;min-height: 400px;">
            
            <md-button ng-click="new_lesson()" class="md-raised pull-right" style="background-color: #FF9E37;">Создать новый урок</md-button>
            <h3>Созданные мною уроки</h3>
            <div style="box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);background-color: white;">
                <div ng-if="model.lesson.lessons.length > 0">
                    <table class="table">
                        <thead>
                            <th>
                                Действие
                            </th>
                            <th>
                                Название
                            </th>
                            <th>
                                Краткое описание
                            </th>
                            <th>
                                Назначено на
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lesson in model.lesson.lessons">
                                <td>
                                    <div layout="vertical" layout-fill>
                                    <md-menu>
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                            <!-- <md-icon md-menu-origin md-svg-icon="menu"></md-icon>-->
                                            <ng-md-icon icon="menu" size="36"></ng-md-icon> 
                                        </md-button>
                                        <md-menu-content>
                                            <md-menu-item>
                                                <md-button ng-click="edit_lesson(lesson.id)">
                                                    <md-icon md-svg-src="/assets/img/icons/twitter.svg"></md-icon>
                                                    Назначить на ученика
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="edit_lesson(lesson.id)">
                                                    <md-icon md-svg-src="/assets/img/icons/hangout.svg"></md-icon>
                                                    Редактировать урок
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="play_lesson(lesson.id)">
                                                    <md-icon md-svg-src="/assets/img/icons/hangout.svg"></md-icon>
                                                   Запустить для тестирования
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="delete_lesson(lesson.id)">
                                                    <md-icon md-svg-src="/assets/img/icons/hangout.svg"></md-icon>
                                                    Удалить урок
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    </div>
                                    <!--
                                    <md-fab-speed-dial md-open="model.fabAction.isOpen" md-direction="{{model.fabAction.selectedDirection}}"
                                                 ng-class="model.fabAction.selectedMode">
                                        <md-fab-trigger>
                                          <md-button aria-label="menu" class="md-fab md-warn">
                                            <md-icon md-svg-src="/assets/img/icons/menu.svg"></md-icon>
                                          </md-button>
                                        </md-fab-trigger>
                                        <md-fab-actions>
                                          <md-button aria-label="twitter" class="md-fab md-raised md-mini">
                                            <md-icon md-svg-src="/assets/img/icons/twitter.svg"></md-icon>
                                          </md-button>
                                          <md-button aria-label="facebook" class="md-fab md-raised md-mini">
                                            <md-icon md-svg-src="/assets/img/icons/facebook.svg"></md-icon>
                                          </md-button>
                                          <md-button aria-label="Google hangout" class="md-fab md-raised md-mini">
                                            <md-icon md-svg-src="/assets/img/icons/hangout.svg"></md-icon>
                                          </md-button>
                                        </md-fab-actions>
                                      </md-fab-speed-dial>
                                    -->
                                </td>
                                <td>
                                    <span ng-if="lesson.name">{{lesson.name}}</span>
                                    <span ng-if="!lesson.name">Урок без имени</span>
                                </td>
                                <td>
                                    <span>{{lesson.description | htmlToPlaintext | limitTo: 25 }}{{page.text.length > 25 ? '...' : ''}}</span>
                                </td>
                                <td>
                                    <p ng-repeat="enroll in lesson.enrolls">
                                        {{enroll.learner.email}}
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                            <!--
                            <md-button  class="md-raised" ng-click="lesson_enroll($event, lesson.id)"  style="background-color: #00887A">Назначить на ученика</md-button>


                            <md-button class="md-raised" style="background-color: #00887A" ng-click="edit_lesson(lesson.id)">Редактировать урок</md-button>
                            <md-button class="md-raised" style="background-color: #00887A" ng-click="play_lesson(lesson.id)">Запустить для тестирования</md-button>
                            <md-button class="md-raised" style="background-color: #00887A" ng-click="delete_lesson(lesson.id)">Удалить урок</md-button>
                            <div ng-if="lesson.enrolls.length > 0">
                                Назначен на:
                                <ul>
                                    <li ng-repeat="enroll in lesson.enrolls">
                                        <ul>
                                            <li>
                                                {{enroll.learner.email}}
                                                <md-button class="md-raised" style="background-color: #00887A" ng-click="remove_enroll(enroll.id)">Снять назначение</md-button>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                        </li>
                    </ul>
                    -->
                </div>
            </div>
        </li>
        <!-- <code>{{my_lessons}}</code> -->
        <div ng-if="model.lesson.lessons_for_me.length > 0">
            <h4>Назначенные на меня уроки</h4>
            <ul>
                <li ng-repeat="lesson in model.lesson.lessons_for_me" style="margin:5px;">
                    {{$index + 1}}. {{lesson.name}} <br>
                    {{lesson.description}} <br>
                    страниц в уроке: {{lesson.pages.length}}<br>
                    Номер последней попытки: {{lesson.enrolls[0].number_of_attempt}}<br>
                    Результат прохождения: 
                        <span ng-if="lesson.enrolls[0].success == true">Пройденно</span>
                        <span ng-if="lesson.enrolls[0].success && lesson.enrolls[0].success==false">Непройдено</span>
                    <br>
                    <button class="btn" ng-click="play_lesson(lesson.id)">Старт</button>
                    <button class="btn" ng-click="move_to_archive(lesson.id)"
                    ng-if="lesson.enrolls[0].success==true">В архив</button>
                </li>
            </ul>

        <div ng-if="model.lesson.archive.length > 0">
            <br><br>
            <h4>Уроки в архиве:</h4>
             <ul>
                <li ng-repeat="l in model.lesson.archive" style="margin:5px;">
                    {{$index + 1}}. {{l.lesson.name}} <br>
                    {{l.lesson.description}} <br>
                    кол-во попыток: {{l.number_of_attempt}}<br>
                    Результат прохождения: 
                        <span ng-if="l.success == true">Пройденно</span>
                        <span ng-if="l.success && lesson.enrolls[0].success==false">Непройдено</span>
                    <br>
                </li>
            </ul>
        </div>
    </div>
</div>