<div class="container">

    <div class="row" style="">
        <div class="left_panel col-lg-6 col-md-8 col-xs-6" style="padding: 20px 0px;">
            <div class="block_1 shadow" style="
                background-image: url('/assets/img/block_1a.png');
                background-repeat: no-repeat;
                width: 550px;
                height: 480px;
            "></div>
        </div>
        <div class="right_panel col-lg-6" style="padding: 20px 0px;">
            <div class="col-lg-12 col-md-8 col-sm-9 col-xs-6 shadow" style="height: 230px;background-color: white;">

                <div style="padding: 15px 15px 0px 0px;">
                    <div style="background-image: url('/assets/img/block_2a.png');
                        background-repeat: no-repeat;
                        width: 200px;
                        height: 200px;
                        background-size: contain;
                        float: left;
                        ">

                    </div>
                    <div>
                        <h3>Готовитесь к IELTS? Хотите улучшить IELTS Writing?</h3>
                        <p>Вы пришли по адресу! 
                            На этом сайте Вы найдете коллекцию IELTS заданий и тренажеров. 
                            Сайт сделан в помощь IELTS преподавателям школы English with Experts. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-8 col-sm-9 col-xs-6 shadow" style="
                margin-top:20px; 
                height: 230px;
                background-color: white;
                ">
                <div style="padding: 15px 15px 0px 0px;">
                    <div class="main_block_3a_pic" style="background-image: url('/assets/img/block_3a.png');
                            background-repeat: no-repeat;
                            width: 200px;
                            height: 200px;
                            background-size: contain;
                            float: left;
                            ">

                    </div>
                    <div>
                        <h4>Плюсы системы:</h4>
                        <ul>
                            <li>- Настоящие IELTS задания</li>
                            <li>- Таймер, который вырабатывает привычку следить за временем</li>
                            <li>- Возможность отправить задания на проверку преподавателю</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        
    </div>


    <div class="row" style="height:500px;padding: 20px 0 0 0;">
        <!--<h4>Описание</h4>-->
        <!--<div class="row" style="width:100%; height:100%;">-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-4" style="height: 100%;padding: 0 10px 0px 0px;">
                <div class="shadow" style="background-color: white;text-align:center;padding: 0 0 0 0;">   
                    <div class="hover_link" style="background-image: url('/assets/img/new_1b.jpg');
                            background-repeat: no-repeat;
                            width: 100%;
                            height: 348px;
                            background-size: cover;
                            margin: 0 auto;
                            ">
                    </div>
                    <div style="height: 76px;background-color:white;padding: 0px 20px 10px 20px;">
                        <h3>Об экзамене IELTS</h3>
                        <div style="color:#2b8de2;text-decoration:underline;font-weight: 800;" ng-click="main.go_articles_page('aboutielts.html')"><span translate>READ MORE</span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-4" style="height: 100%;padding: 0 10px 0px 0px;">
                <div class="shadow" style="background-color: white;text-align:center;padding: 0 0 0 0;">
                    <div class="hover_link" style="background-image: url('/assets/img/new_2b.jpg');
                            background-repeat: no-repeat;
                            width: 100%;
                            height: 348px;
                            background-size: cover;
                            margin: 0 auto;
                            ">

                    </div>
                    <div style="height: 76px;background-color:white;padding: 0px 20px 10px 20px;">
                        <h3>IELTS Writing</h3>
                        <div style="color:#2b8de2;text-decoration:underline;font-weight: 800;" ng-click="main.go_articles_page('writing.html')"><span translate>READ MORE</span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-4" style="height: 100%;padding: 0 10px 0px 0px;">
                <div class="shadow"  style="background-color: white;text-align:center;padding: 0 0 0 0;">
                    <div class="hover_link" style="background-image: url('/assets/img/new_3b.jpg');
                            background-repeat: no-repeat;
                            width: 100%;
                            height: 348px;
                            background-size: cover;
                            margin: 0 auto;
                            ">
                    </div>
                    <div style="height: 76px;background-color:white;padding: 0px 0px 0px 0px;">
                        <h3>Как готовиться к IELTS Writing?</h3>
                        <div style="color:#2b8de2;text-decoration:underline;font-weight: 800;" ng-click="main.go_articles_page('prepearing.html')"><span translate>READ MORE</span></div>
                        
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
    <!--
    <div class="col-md-12" style="height: 350px;
    padding: 0;
    margin-top: 58px;">
        <h4>Отзывы</h4>
        <div style="height: 100%;width:100%;">
                <div style="
                    background-image:url('/assets/img/testimonial.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 100%;
                    "
                >
                </div>
            </div>
    </div>
    -->
    
</div>