
<!--<h1>Профиль пользователя {{ user.username }}</h1>-->

<div class="profile-page row" style="min-height: 500px;padding: 20px;">

    <div class="profile-user col s3">
        <p ng-if="user.username">{{user.username}}</p>
        
        <p>Тип аккаунта:
            <select class="browser-default" ng-model="model.account_type" ng-change="change_account_type()" >
                <option ng-repeat="value in model.account_type_choice">{{value}}</option>
            </select>
        </p>
    
        <br>

        <button class="btn btn-primary btn-attention width-100" ng-if="user.role == 'learner'" ng-click="meta.is_add_user_screen = true" style="font-size: 10px;
            height: 46px;
            line-height: 12px;">
            Отправить запос на подключение к организации*
            <i class="icon icon-become-admin"></i>
        </button>
     </div>



    <div class="right col s3">
        
        <div id="okModal" class="modal" ng-style="model.show_pass_ok && {'display': 'inline-block'};">
            <div class="modal-content">
                <h4>Смена пароля</h4>
                <p>Пароль успешно поменян!</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"
                ng-click="model.show_pass_ok = !model.show_pass_ok">OK</a>
            </div>
        </div>


        <div class="btn btn-info profile-change-pass amber darken-3 waves-effect waves-amber" ng-click="is_show_pass = !is_show_pass">Сменить пароль</div>
        <br>
        <br>
        <div class="profile-passw" ng-if="is_show_pass === true">
            <i class="icon icon-close-1 pull-right" ng-click="$parent.is_show_pass = false"></i>

            <div class="fs-12">Смена пароля</div>
            <div><input placeholder="новый пароль" ng-model="$parent.pass1" type="password"/></div>
            <div><input placeholder="повторите пароль" ng-model="$parent.pass2" type="password"/></div>

            <div class="red-text" ng-show="is_change_pass_error">{{model.error_msg}}</div>

            <button class="btn btn-primary btn-staff" ng-click="changePass()">поменять пароль</button>
        </div>
    </div>
    
</div>

