
<!--<h1>Профиль пользователя {{ user.username }}</h1>-->

<div>

    <div class="profile-user">

        <!--<div>
            <img ng-if="user.avatar" ng-src="user.avatar" alt=""/>
            <img ng-if="!user.avatar" src="/assets/img/avatar-default.jpg" alt=""/>
        </div>-->
        <div class="white-text fs-14">{{user.email}}</div>

        <div class="blue-text fs-24">
            <input ng-show="is_profile_edit" ng-model="user_name" type="text"/>
            <span ng-show="!is_profile_edit">{{user_name}}</span>
            <i class="icon icon-edit" ng-click="is_profile_edit ? is_profile_edit = false : is_profile_edit = true"></i>
        </div>
        <div class="btn btn-info profile-change-pass" ng-click="is_show_pass = true">Сменить пароль</div>

        
    </div>

    <div class="profile-passw" ng-if="is_show_pass === true">
        <i class="icon icon-close-1 pull-right" ng-click="$parent.is_show_pass = false"></i>

        <div class="fs-12">Смена пароля</div>
        <div><input placeholder="новый пароль" ng-model="$parent.pass1" type="password"/></div>
        <div><input placeholder="повторите пароль" ng-model="$parent.pass2" type="password"/></div>

        <div class="red-text" ng-show="is_change_pass_error">Пароли не совпадают</div>

        <button class="btn btn-primary btn-staff" ng-click="changePass()">поменять пароль</button>
    </div>
    <br>
    <br>

    <button class="btn btn-primary btn-attention width-100" ng-if="user.role == 'learner'" ng-click="meta.is_add_user_screen = true">
        Отправить запос на подключение к организации*
        <i class="icon icon-become-admin"></i>
    </button>



    <br/>
    <br/>
    <a href="/accounts/logout/" ng-click="logout($event)" class="btn btn-primary btn-staff btn-exit">
        Выйти из системы
        <i class="icon icon-exit"></i>
    </a>

</div>

