{% load static i18n %}<!DOCTYPE html>
<html lang="ru" >
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}
    <meta name="robots" content="index,follow" />
    <base href="/">

    <title></title>
    
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/angular-material.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/videogular.min.css" %}" rel="stylesheet">
    <link href="{% static "/assets/js/ckeditor/skins/moono/editor.css" %}" rel="stylesheet">

    <script type="text/javascript" src="/jsi18n/"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/assets/js/ckeditor/ckeditor.js"></script>
    

    {% block extra_css %}{% endblock %}
    {% block link %}{% endblock %}
    {% block extra_js %}{% endblock %}

    <link href="{% static "css/common.css" %}" rel="stylesheet">
    <link href="{% static "css/menu.css" %}" rel="stylesheet">
    <link href="{% static "css/login.css" %}" rel="stylesheet">
    <link href="{% static "css/play.css" %}" rel="stylesheet">
    <link href="{% static "css/editor.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <style>[ng-cloak] { display:none !important }</style>
    
    <style>
        md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
            color: rgb(255,255,255);
        }
        .tabsdemoDynamicHeight md-content {
            background-color: transparent !important; 
        }
        .tabsdemoDynamicHeight md-content md-tabs {
            background: #f6f6f6;
            border: 1px solid #e1e1e1;
        }
        .tabsdemoDynamicHeight md-content md-tabs md-tabs-canvas {
            background: white;
        }
        .tabsdemoDynamicHeight md-content h1:first-child {
            margin-top: 0;
        }
    </style>
    
</head>

<body ng-app="quizy" ng-cloak ng-controller="MainCtrl">
    {% verbatim %}

<div ng-if="!loaded" style="width:100%;height:100%;position: absolute;">
    <div style="margin: 0 auto;width: 50%;margin-top: 20%;">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
</div>

<div ng-if="loaded==true && model.message.is_active" style="height: 34px;
    background-color: rgb(54, 150, 66);
    padding: 14px 0px 0px 20px;
    color: white;
    position: fixed;
    width: 100%;
    min-width: 1040px;
    top: 0;
    left: 0;
    z-index: 1;
     -webkit-transition: all .2s ease-out 0.1s;
     -moz-transition: all .2s ease-out 0.1s;
     -o-transition: all .2s ease-out 0.1s;
     transition: all .2s ease-out 0.1s;
     " >
     <button ng-if="model.message.text.length > 1" class="md-raised pull-left md-button md-default-theme" ripple ng-click="model.message.next_message()" style="background-color: #FF9E37;margin: -8px 43px 0 0px;"><span>Next</span></button>
     <span ng-if="model.message.text.length > 1"> {{model.message.current_message + 1}} из {{model.message.text.length}}: </span>
     <span ng-bind-html="model.message.text[model.message.current_message]"></span>

     </div>
<div ng-if="loaded==true" class="top-panel" ng-style="{'top': model.menu.positionTop}" >
    
    <div class="top-panel-title"
        ng-style="{
            'left1': model.menu.positionTitleLeft,
            'top1': model.menu.positionTitleTop}"
        >
        <span translate>IELTS Writing Simulator</span>
        <!-- Teachers’ toolkit -->
    </div>
    <div style="position: absolute;top: 39%;left: 17px;">
        <span translate>To help students and teachers English with Experts</span>
        <!--A snazzy solution for managing students’ homework-->
    </div>
    <div class="top-panel-right"
        ng-style="{'top': model.menu.positionLoginTextTop}">

        <div style="margin:4px 0 0 0; display:inline-block;">
            <div style="display: inline-block;padding-top: 10px;float: left;">
                <div ng-class="{
                flag_ru: model.selectedLanguage == 'ru',
                flag_en: model.selectedLanguage == 'en',
                }"></div>
            </div>
            <md-input-container class="md-padding" style="margin-top: 2px;margin-right: 10px;padding:0;display: inline-block;">
                <md-select ng-change="change_language()" ng-model="model.selectedLanguage" style="padding: 0;margin: 0;" aria-label="change language">
                    <md-option ng-repeat="lang in model.languages" value="{{lang.value}}" ng-selected="model.selectedLanguage == lang.value">
                        <div ng-class="lang.pclass"></div><div style="display: inline-block;position: absolute;top: 11px;">{{lang.title}}</div>
                    </md-option>
                </md-select>
            </md-input-container>


        </div>


        <div class="btn-menu" ng-if="!user.is_authenticated" ng-click="main.login($event)" translate>
            Login 
        </div>
        <div class="btn-menu" ng-if="!user.is_authenticated" ng-click="main.reg($event)" translate>
            Registration
        </div>
        
         <div class="btn-menu" ng-if="user.is_authenticated">
            <div ng-if="user.is_authenticated" ripple ng-click="main.go_profile()" style="float: left;margin: 0;cursor: pointer;width: 27px;"><i class="material-icons" style="font-size: 26px;color:#ff9e37">settings</i></div>

            <md-menu>
                <div style="margin: 0 0 0 33px;cursor: pointer;border-bottom: 1px solid #ff9e37;overflow: hidden;text-transform: initial;" aria-label="menu" ng-click="$mdOpenMenu()">{{user.email}}</div>

                <md-menu-content width="4" style="height: 48px;padding:0;">
                    <md-menu-item>
                        <md-button ng-click="main.logout($event)">
                        Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
                </md-menu>
        </div>
       
    </div>

    <div class="tabs" style="position:absolute;bottom:0;height:48px;width: 100%;"
        ng-style="{
            'left': model.menu.positionMainMenuLeft,
            'top': model.menu.positionMainMenuTop}">
        <div class="tabs-canvas">
            <div class="tabs-wrapper">
                <div class="tab-item" ripple ng-click="main.go_home_page()">
                    <span translate>Home</span>
                    <div ng-class="{'active_menu': main.active_menu=='main'}"></div>
                </div>
                <div ng-if="user && user.is_authenticated && user.account_type == 1" class="tab-item" ripple ng-click="main.go_courses_page()">
                    <span translate>Courses</span>
                    <div ng-class="{'active_menu': main.active_menu=='courses'}"></div>
                </div>
                <div ng-if="user && user.is_authenticated && user.account_type == 2" class="tab-item" ripple ng-click="main.go_lesson_page()">
                    <span translate>Lessons</span>
                    <div ng-class="{'active_menu': main.active_menu=='lessons'}"></div>
                </div>
                <div ng-if="user && user.is_authenticated && user.account_type == 1" class="tab-item" ripple ng-click="main.go_pupils_page()">
                    <span translate>Enrolled students</span>
                    <div ng-class="{'active_menu': main.active_menu=='pupils'}"></div>
                </div>
                <div ng-if="user && user.is_authenticated && user.account_type == 1" class="tab-item" ripple ng-click="main.go_statistic_page()">
                    <span translate>Statistics</span>
                    <div ng-class="{'active_menu': main.active_menu=='statistic'}"></div>
                </div>
                <div ng-if="user && user.is_authenticated && user.account_type == 2" class="tab-item" ripple ng-click="main.go_statistic_page()">
                    <span translate>Archive</span>
                    <div ng-class="{'active_menu': main.active_menu=='statistic'}"></div>
                </div>
                <div class="tab-item" ripple ng-click="main.go_articles_page()">
                    <span translate>Articles</span>
                    <div ng-class="{'active_menu': main.active_menu=='articles'}"></div>
                </div>
                <!--
                <div class="tab-item" ripple ng-click="main.go_description()">
                    <span>Описание</span>
                    <div ng-class="{'active_menu': main.active_menu=='description'}"></div>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
<div ng-if="loaded==true" class="base_middle_panel" ng-style="{'top': model.menu.positionBodyTop}" >

    

    <div class="row" ui-view="main" style="display: inline-block;height:auto;width:100%;margin:0;padding:0;"></div>

    
    
    
    <div class="row" style="position: relative;
        height: 90px;
        background-color: #e18e47;
        margin: 8px 0 0 0;
        background-image: url('/assets/img/slider-noise-bg.jpg');
        ">
        <div style="background-color:#7c8f83;;height:10px;"></div>

        <footer class="page-footer" style="bottom: 0;
            color: white;
            display: block;
            position: absolute;
            width: 100%;">

            <div style="">
                <div class="tabs" style="height:48px;display: inline-block;width: 100%;">
                    <div class="tabs-canvas">
                        <div class="tabs-wrapper">
                            <div class="tab-item" ripple ng-click="main.go_home_page()">
                                <span translate>Home</span>
                                <div ng-class="{'active_menu': main.active_menu=='main'}"></div>
                            </div>
                            <div ng-if="user && user.is_authenticated && user.account_type == 1" class="tab-item" ripple ng-click="main.go_courses_page()">
                                <span translate>Courses</span>
                                <div ng-class="{'active_menu': main.active_menu=='courses'}"></div>
                            </div>
                            <div ng-if="user && user.is_authenticated && user.account_type == 2" class="tab-item" ripple ng-click="main.go_lesson_page()">
                                <span translate>Lessons</span>
                                <div ng-class="{'active_menu': main.active_menu=='lessons'}"></div>
                            </div>
                            <div ng-show="user && user.is_authenticated && user.account_type == 1" class="tab-item" ripple ng-click="main.go_pupils_page()">
                                <span translate>Enrolled students</span>
                                <div ng-class="{'active_menu': main.active_menu=='pupils'}"></div>
                            </div>
                            <div ng-if="user && user.is_authenticated && user.account_type == 1" class="tab-item" ripple ng-click="main.go_statistic_page()">
                                <span translate>Statistics</span>
                                <div ng-class="{'active_menu': main.active_menu=='statistic'}"></div>
                            </div>
                            <div ng-if="user && user.is_authenticated && user.account_type == 2" class="tab-item" ripple ng-click="main.go_statistic_page()">
                                <span translate>Archive</span>
                                <div ng-class="{'active_menu': main.active_menu=='statistic'}"></div>
                            </div>
                            <div class="tab-item" ripple ng-click="main.go_articles_page()">
                                <span translate>Articles</span>
                                <div ng-class="{'active_menu': main.active_menu=='articles'}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright pull-right" style="margin: 5px 20px;">
                © 2015 Copyright
            </div>
        </footer>
    </div>

</div>






{% endverbatim %}
<script src="{% static 'app.js' %}{% if django.DEBUG %}?v={{ time }}{% endif %}"></script>

</body>
</html>