<md-dialog aria-label="" style="width:60%;">
  <md-content>
        <div class="content" style="padding: 20px;">
            <a href="" class="cancel" ng-click="closeDialog()" style="float: right;
    margin: -14px -8px 0px 0px;">Закрыть</a>

            <p><b>IELTS</b> - International English Language Testing System - это один из ведущих международных экзаменов по английскому языку, который определяет уровень владения четырьмя основными речевыми аспектами - аудирование/восприятие на слух (listening), чтение (reading), письмо (writing) и разговорная речь (speaking). <b>IELTS</b> сдают те, кто заинтересован в обучении, работе или проживании в среде, где английский язык является основным средством общения.</p>

            <p>С 1989 года <b>IELTS</b> зарекомендовал себя как всемирно признанный, независимый и объективный экзамен, определяющий реальные возможности кандидата общаться на английском языке. Более 6000 учебных заведений, государственных и профессиональных организаций по всему миру признают и доверяют сертификату <b>IELTS</b>.</p>

            <p>Каждый год экзамен <b>IELTS</b> сдают более 1 млн человек, чтобы открыть себе двери в англоговорящий мир и чувствовать себе в нем своим. <b>IELTS</b> принимается в более чем 120 странах мира и на сегодня является одним из самых распространенных и востребованных экзаменов по английскому языку. <b>IELTS</b> устанавливает новые стандарты объективности, лингвистических исследований и новаций.</p>

            
        </div>
  </md-content>
</md-dialog>