<md-dialog aria-label="" style="width:60%;">
  <md-content>
        <div class="content" style="padding: 20px;">
            <a href="" class="cancel" ng-click="closeDialog()" style="float: right;
    margin: -14px -8px 0px 0px;">Закрыть</a>

            <p>В тесте <b>IELTS</b> не существует минимального проходного балла, результат оценивается по шкале от 0 (при отсутствии ответов) до 9 (экспертное владение языком). Университеты могут устанавливать свой минимальный балл <b>IELTS</b> для поступающих. Так, школа журналистики Columbia University требует минимум 8.5 баллов. 7.5 и 8 — частое требование на программах маркетинг и коммуникации. Для поступления же на большинство специальностей достаточно 6-7 баллов, в зависимости от страны и конкретной программы.</p>

            
        </div>
  </md-content>
</md-dialog>