<md-dialog aria-label="" style="width:60%;">
  <md-content>
        <div class="content" style="padding: 20px;">
            <a href="" class="cancel" ng-click="closeDialog()" style="float: right;
    margin: -14px -8px 0px 0px;">Закрыть</a>

            <p>Экзамен IELTS включает в себя 4 секции: <b>Listening</b>, <b>Reading</b>, <b>Writing</b> и <b>Speaking</b>.</p>

            <p>Существует две версии IELTS Test: обычная (<b>General</b>) и академическая (<b>Academic</b>). Первый вариант предназначен для тех, кому необходимо подтвердить знание английского языка для работодателя, иммиграционной службы. Желающим поступить на образовательные программы (бакалавриат, магистратура, MBA, PhD и т.д.) необходимо сдать академическую версию экзамена.</p>

            <p>Секции Listening и Speaking идентичны в обоих вариантах, а вот Reading и Writing в академическом варианте теста сложнее. Так, в Writing придется описать график или диаграмму, а также аргументировано ответить на вопрос. В обычном варианте теста достаточно написать небольшое письмо и эссе на предложенную тему.</p>

            <p>В Reading сдающих академический вариант теста также ожидают более сложные темы, длинные предложения и профессиональная лексика. Для того чтобы минимизировать предвзятое отношение экзаменаторов к различным акцентам и этническим группам, даже в тестовых заданиях присутствуют различные акценты.</p>

            <p>Общее время теста (секции Listening, Reading, Writing) – 2 часа 45 минут. Секция Speaking займет 10-15 минут и может быть проведена сразу после окончания письменной части или в другой день, в зависимости от правил конкретного экзаменационного центра. Сдать IELTS в Москве можно в субботу. Пройти IELTS пробный тест (IELTS practice test) можно в любое удобное для вас время непосредственно в компаниях, которые предлагают данную услугу, причем бесплатно.</p>

            
        </div>
  </md-content>
</md-dialog>