    
<div class="layout-row">
    <div class="flex-60" style="padding: 0 30px 0px 0;">
        <h2>Об экзамене IELTS</h2>

        <p style="text-indent:20px;text-align:justify;">Международный экзамен <b>IELTS</b> сдают, в основном, для эмиграции или учебы за границей. Он состоит из 4х частей: аудирование, чтение, письмо и говорение. Первые 3 части проходят в один ‘заход’ и длится 2 часа 45 минут, а часть speaking (15 минут) сдается отдельно (обычно в тот же день или в другой день).</p>

        <p style="text-indent:20px;text-align:justify;"><b>IELTS</b> невозможно не сдать – сертификат получают все, однако, можно набрать недостаточные для учебы или эмиграции баллы. Какой именно балл понадобится Вам нужно проверять по условиям Вашей эмиграционной программы или учебного заведения, куда Вы подаете документы. В среднем, требуется не меньше 6 по всем частям (и для учебы и для эмиграции). Более престижные университеты требуют не менее 7 по всем частям экзамена.</p>

        <p style="text-indent:20px;text-align:justify;">Если Вы еще только начитаете свой путь к получению заветного сертификата, то советуем Вам посмотреть наше обзорное видео по экзамену. Оно даст Вам представление об структуре и типах заданий.</p>


    	<h3 style="text-align: center;">ОБЗОРНОЕ ВИДЕО.</h3>
	   <iframe class="shadow" height="360" src="https://www.youtube.com/embed/_C_nPOEd_1o?list=PLgOaCITH5xmbtYRfguBjg97qJHswpXa4V" frameborder="0" allowfullscreen style="width:100%;margin:8px;"></iframe>
        

        
    </div>

    <div class="flex-40 hide-sm" style="padding: 20px 0px 0px 0;">
        <div style="background-image: url('/assets/img/new_1b.jpg');
                        background-repeat: no-repeat;
                        width: 91%;
                        height: 346px;
                        background-size: contain;
                        margin: 0 0px 0px 30px;
                        "></div>
    </div>

   
</div>

 <div class="row">
    <h2>Как рассчитываются результаты IELTS?</h2>
    <table class="table table-striped table-bordered table-condensed" style="font-size:15px;">
        <thead>
            <tr>
                <th>Результат</th>
                <th>9.0</th>
                <th>8.5</th>
                <th>8.0</th>
                <th>7.5</th>
                <th>7.0</th>
                <th>6.5</th>
                <th>6.0</th>
                <th>5.5</th>
                <th>5.0</th>
                <th>4.5</th>
                <th>4.0</th>
                <th>3.5</th>
                <th>3.0</th>
                <th>2.5</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 110px;">
                    Аудирование: Кол-во правильных ответов
                </td>
                <td>39–40</td>
                <td>37–38</td>
                <td>35–36</td>
                <td>33–34</td>
                <td>30–32</td>
                <td>27–29</td>
                <td>23–26</td>
                <td>20–22</td>
                <td>16–19</td>
                <td>13–15</td>
                <td>10–12</td>
                <td>7–9</td>
                <td>4–6</td>
                <td>3</td>
            </tr>
            <tr>
                <td>
                    Academic Reading: Кол-во правильных ответов
                </td>
                <td>39–40</td>
                <td>37–38</td>
                <td>35–36</td>
                <td>33–34</td>
                <td>30–32</td>
                <td>27–29</td>
                <td>23–26</td>
                <td>20–22</td>
                <td>16–19</td>
                <td>13–15</td>
                <td>10–12</td>
                <td>7–9</td>
                <td>4–6</td>
                <td>3</td>
            </tr>
            <tr>
                <td>
                    General Reading: Кол-во правильных ответов
                </td>
                <td>40</td>
                <td>39</td>
                <td>38</td>
                <td>36–37</td>
                <td>34–35</td>
                <td>32–33</td>
                <td>30–31</td>
                <td>27–29</td>
                <td>23–26</td>
                <td>19–22</td>
                <td>15–18</td>
                <td>12–14</td>
                <td>8–11</td>
                <td>5–7</td>
            </tr>
        </tbody>
    </table>
</div>
