

<md-grid-list
      	md-cols-sm="4" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:1"
        md-gutter="12px" md-gutter-gt-sm="8px" 
        style="margin-top:30px;">

    <md-grid-tile class="hover_link" style="background: #ffff8d;"
        md-rowspan="2" md-colspan="2" md-colspan-sm="1" ng-click="main.go_articles_page('aboutielts.html')">
        <div style="background-image: url('/assets/img/new_1b.jpg');
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 100%;
                        background-size: contain;
                        float: left;
                        "></div>
      <md-grid-tile-footer style="background: white;border: 1px solid #c3c3c3;">
        <h3 style="color: black;margin: 0 0px 0px 20px;">Об экзамене IELTS</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="hover_link" style="background: #b9f6ca;"
    	md-rowspan="2" md-colspan="2" md-colspan-sm="1" ng-click="main.go_articles_page('writing.html')">
    	<div style="background-image: url('/assets/img/new_2b.jpg');
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 100%;
                        background-size: contain;
                        float: left;
                        "></div>
      <md-grid-tile-footer style="background: white;border: 1px solid #c3c3c3;">
        <h3 style="color: black;margin: 0 0px 0px 20px;">IELTS Writing </h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    
    <md-grid-tile class="hover_link" style="background: #84ffff;"
    	md-rowspan="2" md-colspan="2" md-colspan-sm="2" ng-click="main.go_articles_page('prepearing.html')">
    	<div style="background-image: url('/assets/img/new_3b.jpg');
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 100%;
                        background-size: contain;
                        float: left;
                        "></div>
      <md-grid-tile-footer style="background: white;border: 1px solid #c3c3c3;">
        <h3 style="color: black;margin: 0 0px 0px 20px;">Как готовиться к IELTS Writing?</h3>
      </md-grid-tile-footer>
    </md-grid-tile>



   
</md-grid-list>