
    <h2>Как готовиться к IELTS Writing? </h2>
    <p>Практика и еще раз практика. Самая распространенная ошибка, это думать  “Я еще не готов начать практиковаться в письме. Я вначале должен почитать хорошие примеры, выучить фразы и выражения, а уже потом я смогу начать писать”. Да, иметь примеры хороших работ – это полезно, но намного полезней вначале написать свое сочинение, а уже потом сравнить его с “хорошим примером”. Тогда Вы выучите намного больше. Проблема в том, что многие никогда не чувствуют себя готовыми и откладывают практику ‘на потом’.
    </p>
    <p>На этом сайте Вас ждет коллекция тем IELTS Writing.  Если Ваш экзамен через 5-6 месяцев, то советуем Вам писать не меньше 1-2 блоков (письмо + сочинение) в неделю.  Если экзамен в ближайшие 1-2 месяца, то пишите по блоку каждый день.</p>

