
	<h2>IELTS Writing</h2>
    
    <p>Официальная статистика <b>IELTS</b> показывает,что именно <b>IELTS Writing</b> вызывает наибольшие сложности у русскоговорящих кандидатов. Среднестатистический русскоговорящий кандидат набирает ниже 6 в этой части (почти на балл ниже, чем остальные части) и именно часть writing обычно подводит сдающих. Поэтому чем раньше Вы начнете готовиться к <b>IELTS Writing</b>, тем лучше.</p>

    <p>Если Вы не знаете, из чего состоит письменная часть экзамена IELTS, то посмотрите этот видеоурок.
    </p>
    <div style="text-align:center;">
    	<iframe width="640" height="360" src="https://www.youtube.com/embed/lK2NBcE4s3c?list=PLgOaCITH5xmbtYRfguBjg97qJHswpXa4V" frameborder="0" allowfullscreen></iframe>
    </div>
    
    <p><b>Важно</b>: познакомьтесь с тем, как оценивается IELTS Writing.</p>
    <p>Знаете ли Вы, по каким критерием будет оцениваться то, то Вы напишите?</p>
    <p>Если нет, то этот видеоурок поможет Вам разобраться в официальных критериях оценки IELTS. </p>
    <div style="text-align:center;">
    	<iframe width="640" height="360" src="https://www.youtube.com/embed/M5GYT3-2f8s?list=PLgOaCITH5xmbtYRfguBjg97qJHswpXa4V" frameborder="0" allowfullscreen></iframe>
    </div>

    <h4>Несколько полезных видео про IELTS Writing</h4>
    <p>Видео в этом разделе лучше всего смотреть уже после того, как Вы попробуете написать хотя бы одно сочинение. Тогда Вы почувствуете, что Вы уже делаете и что нет.</p>
    <p>Первые два видео расскажут Вам о структуре IELTS сочинения (IELTS essay). Это очень важная тема, так как структура сочинений на английском отличается от типичного русского сочинения. Посмотрите видеоурок  и сравните – а Вы правильно строите свои сочинения?</p>

    <div style="text-align:center;">
    	<iframe width="640" height="360" src="https://www.youtube.com/embed/elaQamCtvLM?list=PLgOaCITH5xmbtYRfguBjg97qJHswpXa4V" frameborder="0" allowfullscreen></iframe>
    </div>

    <div style="text-align:center;">
    	<iframe width="640" height="360" src="https://www.youtube.com/embed/cpJmT83PHkM?list=PLgOaCITH5xmbtYRfguBjg97qJHswpXa4V" frameborder="0" allowfullscreen></iframe>
    </div>

    <p>Это видео ответит на популярный вопрос: можно ли использовать ‘I' в сочинениях? Этот вопрос возникает, так как задания IELTS часто просят “Give reasons for your answer and include any relevant examples from your own knowledge or experience.” Однако, многие неправильно интерпретируют задание и попадают в ловушку.</p>

    <div style="text-align:center;">
    	<iframe width="640" height="360" src="https://www.youtube.com/embed/3_PLHVJrIQg?list=PLgOaCITH5xmbtYRfguBjg97qJHswpXa4V" frameborder="0" allowfullscreen></iframe>
    </div>

    <p>Чем отличаются работы, которые получают баллы 7-9 от работ, которые получают 5-6? Одно из отличий – это то, какие части речи Вы используете. Этот видеоурок расскажет об эффективном способе улучшить балл за IELTS Writing  (использование существительных вместо других частей речи) и объяснит, почему это работает.
    </p>

    <div style="text-align:center;">
    	<iframe width="640" height="360" src="https://www.youtube.com/embed/MeV6ihNoQp4?list=PLgOaCITH5xmbtYRfguBjg97qJHswpXa4V" frameborder="0" allowfullscreen></iframe>

    </div>
