<div class="layout-row">
    <div class="flex-60" style="padding: 0 30px 0px 0;">
    	<h2>IELTS Writing</h2>
        
        <p style="text-indent:20px;text-align:justify;">Официальная статистика <b>IELTS</b> показывает,что именно <b>IELTS Writing</b> вызывает наибольшие сложности у русскоговорящих кандидатов. Среднестатистический русскоговорящий кандидат набирает ниже 6 в этой части (почти на балл ниже, чем остальные части) и именно часть writing обычно подводит сдающих. Поэтому чем раньше Вы начнете готовиться к <b>IELTS Writing</b>, тем лучше.</p>

        <p style="text-indent:20px;text-align:justify;">Если Вы не знаете, из чего состоит письменная часть экзамена <b>IELTS</b>, то посмотрите этот видеоурок.
        </p>
      
	   <iframe class="shadow" width="640" height="360" src="https://www.youtube.com/embed/lK2NBcE4s3c?list=PLgOaCITH5xmbtYRfguBjg97qJHswpXa4V" frameborder="0" allowfullscreen style="margin:8px;width:100%;"></iframe>
           
        <p style="text-indent:20px;text-align:justify;"><b>Важно</b>: познакомьтесь с тем, как оценивается <b>IELTS Writing</b>.</p>
        <p style="text-indent:20px;text-align:justify;">Знаете ли Вы, по каким критерием будет оцениваться то, то Вы напишите?</p>
        <p style="text-indent:20px;text-align:justify;">Если нет, то этот видеоурок поможет Вам разобраться в официальных критериях оценки <b>IELTS</b>. </p>
	   <iframe class="shadow" width="640" height="360" src="https://www.youtube.com/embed/M5GYT3-2f8s?list=PLgOaCITH5xmbtYRfguBjg97qJHswpXa4V" frameborder="0" allowfullscreen style="margin:8px;width:100%;"></iframe>

        <h4>Несколько полезных видео про IELTS Writing</h4>
        <p style="text-indent:20px;text-align:justify;">Видео в этом разделе лучше всего смотреть уже после того, как Вы попробуете написать хотя бы одно сочинение. Тогда Вы почувствуете, что Вы уже делаете и что нет.</p>
        <p style="text-indent:20px;text-align:justify;">Первые два видео расскажут Вам о структуре <b>IELTS</b> сочинения (IELTS essay). Это очень важная тема, так как структура сочинений на английском отличается от типичного русского сочинения. Посмотрите видеоурок  и сравните – а Вы правильно строите свои сочинения?</p>

	   <iframe class="shadow" height="360" src="https://www.youtube.com/embed/elaQamCtvLM?list=PLgOaCITH5xmbtYRfguBjg97qJHswpXa4V" frameborder="0" allowfullscreen style="margin:8px;width:100%;"></iframe>

	   <iframe class="shadow" width="640" height="360" src="https://www.youtube.com/embed/cpJmT83PHkM?list=PLgOaCITH5xmbtYRfguBjg97qJHswpXa4V" frameborder="0" allowfullscreen style="margin:8px;width:100%;"></iframe>

        <p style="text-indent:20px;text-align:justify;">Это видео ответит на популярный вопрос: можно ли использовать ‘I' в сочинениях? Этот вопрос возникает, так как задания <b>IELTS</b> часто просят “Give reasons for your answer and include any relevant examples from your own knowledge or experience.” Однако, многие неправильно интерпретируют задание и попадают в ловушку.</p>

	   <iframe class="shadow" width="640" height="360" src="https://www.youtube.com/embed/3_PLHVJrIQg?list=PLgOaCITH5xmbtYRfguBjg97qJHswpXa4V" frameborder="0" allowfullscreen style="margin:8px;width:100%;"></iframe>

        <p style="text-indent:20px;text-align:justify;">Чем отличаются работы, которые получают баллы 7-9 от работ, которые получают 5-6? Одно из отличий – это то, какие части речи Вы используете. Этот видеоурок расскажет об эффективном способе улучшить балл за <b>IELTS Writing</b>  (использование существительных вместо других частей речи) и объяснит, почему это работает.
        </p>

	   <iframe class="shadow" width="640" height="360" src="https://www.youtube.com/embed/MeV6ihNoQp4?list=PLgOaCITH5xmbtYRfguBjg97qJHswpXa4V" frameborder="0" allowfullscreen style="margin:8px;width:100%;"></iframe>
    </div>

    <div class="flex-40 hide-sm" style="padding: 20px 0px 0px 0;">
        <div style="background-image: url('/assets/img/new_2b.jpg');
                        background-repeat: no-repeat;
                        width: 91%;
                        height: 346px;
                        background-size: contain;
                        margin: 0 0px 0px 30px;
                        "></div>
    </div>
</div>