<md-dialog aria-label="assign" >
    <md-content style="width: 450px;
    height: 380px;
    padding: 20px;">
        <div ng-if="model.modal.loading">
            <div style="background-color: black;
                width: 100%;
                height: 100%;
                position: absolute;
                opacity: 0.4;
                margin: -20px;
                z-index: 10;
                "></div>
            <div style="background-image: url('/assets/img/loading.gif');
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 36%;
                top: 28%;
                z-index: 11;"></div>
        </div>

        <div style="margin-top: -20px;" ng-if="model.modal_enroll.show_create_account==false">
            <h4>Assign course</h4>

            <md-switch ng-model="model.modal_enroll.auto_enroll" aria-label="Auto enroll" ng-true-value="true" ng-false-value="false" style="position:relative">
                <div ng-if="model.modal_enroll.auto_enroll == false" style="position: absolute;
                    top: 0;
                    left: 55px;">Назначать уроки преподователем</div>
                <div ng-if="model.modal_enroll.auto_enroll == true" style="position: absolute;
                    top: 0;
                    left: 55px;">Автоматически назначать <br>уроки по мере прохождения</div>
            </md-switch>

            <md-input-container>
                <label>Введите email ученика:</label>
                <input type="text" ng-model="model.modal_enroll.inputed_address" md-maxlength="100"
                ng-change="change_inputed_address()" data-ng-model-options="{debounce: 350}">>
            </md-input-container>
            <div ng-if="model.modal_enroll.show_error" style="color:red;">
                <p>{{model.modal_enroll.error_message}}</p>
            </div>

            <md-content style="height: 100px;margin: -15px 0 0 0;">
                <md-list>
                     <md-list-item ng-repeat="item in model.modal_enroll.mypupils track by $index" style="    min-height: 10px;">
                        <div class="enroll_select_email"  ng-click="select_pupil($index)">{{ item }}</div>
                     </md-list-item>
                </md-list>
            </md-content>

        </div>
         <div ng-if="model.modal_enroll.show_create_account==false" 
            class="modal-footer" style="position: absolute;
            bottom: 0;
            right: 0;
            padding: 20px;
            width:100%;">
            <md-button class="md-raised" ng-click="ok()" ng-disabled="submit_disabled==true">OK</md-button>
            <md-button class="md-raised" ng-click="closeDialog()">Отмена</md-button>
        </div>
         <div style="margin-top: -20px;" ng-if="model.modal_enroll.show_create_account==true">
            <h4>Создание учетной записи</h4>
            <p>Указаный вами email <b>{{model.modal_enroll.inputed_address}}</b>
            не найден среди зарегистрированных учеников.</p>
            <p>Создать для него новую учетную запись и автоматически назначить на нее урок?</p>
        </div>
        <div ng-if="model.modal_enroll.show_create_account==true" 
            class="modal-footer" style="position: absolute;
            bottom: 0;
            right: 0;
            padding: 20px;
            width:100%;">
            <md-button class="md-raised" ng-click="createAccount()">Да</md-button>
            <md-button class="md-raised" ng-click="cancelCreateAccount()">Нет, не надо!</md-button>
        </div>
    </md-content>
</md-dialog>