<div class="lesson" style="min-height:450px;text-align:center">
	<div class="shadow lesson_panel">

                    
		<div fab ripple fab-class="fab-add-lesson" icon="icon-add" fab-class-menu="fab-add-lesson-menu" icon="icon-add" menu-right-x="178" menu-y="0" menu-width="200" menu-height="52">
		    <div><div ng-click="main.new_lesson(model.course)">Создать новый <b>урок</b></div></div>
		</div>





		<div class="col-md-12 lessons_header">
		    <div class="col-md-4 mylesson_title">{{model.course.name}}</div>
		    <div class="col-md-8 pull-left search_panel" style="padding: 0 12px;
    height: 60px;
    overflow: hidden;">
		    	{{model.course.description}}
		    </div>
		</div>

		<div class="col-md-12" style="padding: 0;">
		    <table ng-table="tableParams" class="table lessons_list table ng-table-responsive" style="width:100%;margin:0">
		        <thead style="background-color:#e3eaf1;height:60px">
		            <th class="table_th">
		                Действия
		            </th>
		            <th class="table_th">
		                Название
		            </th>
		            <th class="table_th">
		                Краткое описание
		            </th>
		            <th class="table_th" style="width: 400px;">
		                <div style="width:200px;float:left;">Назначение</div>
		                <div style="">Статистика</div>
		            </th>
		        </thead>

		        <tbody>
		            <tr ng-repeat="lesson in model.course.lessons">
		                <td style="width: 170px;vertical-align: middle;position:relative;">
		                    <div class="lesson_incorrect" ng-if="lesson.is_correct==false"></div>
		                    <div class="lesson_correct" ng-if="lesson.is_correct==true"></div>
		                    <div class="shadow btn-round" ripple style="position: relative;" lesson-action lesson-id="lesson.id" edit-lesson="main.go_editor_lesson" enroll-lesson="lesson_enroll" play-lesson="main.go_test_play" edit-lesson="main.go_editor_lesson">
		                        <a class="icon-menu"  href="#"></a>
		                    </div>
		                </td>
		                <td style="width: 200px;text-align:left;">
		                	<div style="max-height:40px;overflow:hidden;">
		                    <span ng-if="lesson.name">{{lesson.number}}. {{lesson.name}}</span>
		                    <span ng-if="!lesson.name">{{lesson.number}}. Урок без имени</span>
		                    </div>
		                    <div style="cursor:pointer;font-weight:400;color:#00A2EA;font-size: 12px;
                       			 margin: 5px 0;" ng-click="main.go_editor_lesson(lesson.id)">Редактировать урок ...</div>
		                </td>
		                <td style="min-width: 200px;text-align:left">
		                    <span>{{lesson.description | htmlToPlaintext | limitTo: 25 }}{{page.text.length > 25 ? '...' : ''}}</span>
		                </td>
		                <td class="td_enroll_stats" style="width:400px;text-align:left">
		                    <div style="max-height:100px;overflow: auto;">
		                        <div ng-repeat="enroll in lesson.enrolls" class="enroll_pupil">
		                            <div style="margin: 6px 0 0 0;width:200px;float:left;">
		                                <div class="remove_enroll" ng-click="remove_enroll(enroll.id)"><i class="material-icons icon-remove-enroll">close</i></div>
		                                <div class="enroll_email" style="width: 160px;overflow: auto;">{{enroll.learner.email}}</div> 
		                            </div>
		                            <div class="enroll_result">
		                                <div ng-class="{
		                                    'enroll_success': enroll.success == true,
		                                    'enroll_fail': enroll.success == false,
		                                    'enroll_undone': enroll.success == null}"></div>
		                                <div class="enroll_data">{{enroll.last_data | date:'yyyy-MM-dd'}} / {{enroll.number_of_attempt}}</div>
		                            </div> 
		                        </div>
		                    </div>
		                </td>
		            </tr>

		        </tbody>


		    </table>

		</div>



	</div>
</div>