<!--                
<div fab ripple fab-class="fab-add-lesson" icon="icon-add" fab-class-menu="fab-add-lesson-menu" icon="icon-add" menu-right-x="178" menu-y="0" menu-width="200" menu-height="52">
    <div><div ng-click="main.new_lesson()">Создать новый <b>урок</b></div></div>
</div>
-->


<div class="lesson" style="min-height:450px;text-align:center">
<div class="shadow lesson_panel">

<div class="col-md-12 lessons_header">
    <div class="col-md-2 mylesson_title">Courses</div>
    <div class="col-md-3 pull-left search_panel" style="padding:0;height: 60px;">
        <!--
        <md-input-container style="font-size: 18px;
            margin: -10px 0px 0px 10px;;
            color: #c3c3c3;
            height: 50px;">
            <label>
                <a class="icon-search"  href="#" style="opacity: 0.2;height: 27px;float:left;"></a><div style="margin: -4px 0 0 0;">Поиск</div>
            </label>
            <input ng-model="user.company" placeholder="Address 2">
        </md-input-container>
		-->

    </div>
</div>

<div class="col-md-12" style="padding: 0;">
    <table ng-table="tableParams" show-filter="true" class="table lessons_list table ng-table-responsive" style="width:100%;margin:0">
        <thead style="background-color:#e3eaf1;height:60px">
            <th class="table_th">
                Course actions
            </th>
            <th class="table_th">
                Name
            </th>
            <th class="table_th">
                Description
            </th>
            <th class="table_th" style="width: 200px;">
                <div style="width:200px;float:left;">Number of enrolls</div>
            </th>
        </thead>

        <tbody>
            <tr ng-repeat="course in model.courses">
                <td style="width: 170px;vertical-align: middle;position:relative;">
                    <div class="lesson_incorrect" ng-if="course.is_correct==false"></div>
                    <div class="lesson_correct" ng-if="course.is_correct==true"></div>

                    <div class="shadow btn-round" ripple style="position: relative;" course-action course-id="course.id" enroll-course="course_enroll" edit-course="go_course_lessons">
                        <a class="icon-menu"  href="#"></a>
                    </div>
                

                </td>
                <td style="width: 200px;text-align:left">
                    <span ng-if="course.name">{{course.name}}</span>
                    <span ng-if="!course.name">no name </span>
                    <div style="cursor:pointer;font-weight:400;color:#00A2EA;font-size: 12px;
                        margin: 5px 0;" ng-click="go_course_lessons(course.id)">Lessons ...</div>
                </td>
                <td style="min-width: 200px;text-align:left">
                    <span>{{course.description | htmlToPlaintext | limitTo: 100 }}{{course.description.length > 100 ? '...' : ''}}</span>
                </td>
                <td class="td_enroll_stats" style="width:200px;text-align:center">
                    <div style="max-height:100px;overflow: auto;">
                        <div class="enroll_email">{{course.enroll_number.number}}</div>
                        <!--
                        <div style="cursor:pointer;font-weight:400;color:#00A2EA;font-size: 12px;
                        margin: 5px 0;">Назначения курса</div>
                        -->
                    </div>
                </td>
            </tr>


        </tbody>


    </table>

</div>


</div>

<div style="text-align: right;margin: 20px 60px 20px 20px;" ng-if="model.courses.length > 0">
    <div style="display: inline-flex;">
    <div style="display: inline-block;
    margin: 6px 7px 0 0;
    font-size: 23px;font-weight: 300;">
        <span ng-bind-html="model.page.from_page"></span>-<span ng-bind-html="model.page.to_page"></span> to <span ng-bind-html="model.page.count"></span>
    </div>
    <div ng-if="model.page.previous" ng-click="load_courses(model.page.previous)" style="display: inline-block;border: 1px solid #c3c3c3;
    padding: 4px 0 0 0;">
        <i class="material-icons" style="font-size: 32px;">navigate_before</i>
    </div>
    <div ng-if="model.page.next" ng-click="load_courses(model.page.next)" style="display: inline-block;border: 1px solid #c3c3c3;
    padding: 4px 0 0 0;margin: 0 0px 0px 8px;">
        <i class="material-icons" style="font-size: 32px;">navigate_next</i>
    </div>
    </div>
</div>

</div>





