@primary_color: #4988c9;
@primary_color_border: #205D6F;
@secondary_color: #ff9e37;


.shadow {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.btn-primary {
	background-color: @primary_color;
	border-color: @primary_color_border;
}