.profile .profile_panel {
  background-color: white;
  height: 100%;
  width: 60%;
  min-width: 540px;
  display: inline-block;
  margin-top: -50px;
}
.profile .profile_panel .profile_header {
  background-image: url('/assets/img/bg_profile.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  position: relative;
  padding: 77px 0 0 0;
}
.profile .profile_panel .profile_header .close_profile {
  float: right;
  color: white;
  margin-top: -76px;
  cursor: pointer;
  width: 34px;
  height: 34px;
}
.profile .profile_panel .profile_header .close_profile:hover {
  background-color: rgba(226, 226, 226, 0.28);
}
.profile .profile_panel .profile_header .avatar_panel {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
.profile .profile_panel .profile_header .avatar_panel .avatar_image {
  background-image: url('/assets/img/default_avatar.png');
  background-repeat: no-repeat;
  width: 140px;
  height: 140px;
}
.profile .profile_panel .profile_header .avatar_panel .btn_change_avatar_image {
  position: absolute;
  bottom: -43px;
  right: -39px;
  background-color: #4988c9;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  cursor: pointer;
}
.profile .profile_panel .profile_header .avatar_panel .btn_change_avatar_image:active {
  box-shadow: initial;
}
.profile .profile_panel .profile_content {
  margin: 60px 0 0 0;
  padding: 0 0px 32px 0;
}
.profile .profile_panel .profile_content .data_unsave {
  margin: -51px 0px 0px 21px;
}
.profile .profile_panel .profile_content .type_account_label {
  float: left;
  margin: 8px 31px 0px 0;
  color: #BDBDBD;
  font-weight: 600;
}
.profile .profile_panel .profile_content .type_account_select {
  margin: 0px;
  padding: 0px;
}
.profile .profile_panel .profile_content .btn_change_password {
  font-size: 16px;
  margin: -18px 19px 0px 0;
}
.profile .profile_panel .profile_content .edit_password {
  float: left;
  color: #ff9e37;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  margin: 13px;
  padding: 0;
  border-radius: 5px;
  position: relative;
}
.profile .profile_panel .profile_content .edit_password i {
  font-size: 39px;
}
.profile .profile_panel .profile_content .edit_password:active {
  box-shadow: initial;
}
.profile .profile_panel .profile_content .label_container {
  width: 400px;
  padding: 10px 20px 10px 20px;
}
.change_password .content {
  width: 426px;
  height: 265px;
  text-align: center;
  padding: 4px 23px 0px 23px;
}
.change_password .content .change_password_title {
  font-size: 19px;
}
.change_password .content md-input-container {
  padding: 0;
}
.change_password .content .btn_change_password {
  background-color: #ff9e37;
  border: initial;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  bottom: 50px;
  position: absolute;
  left: 40%;
}
.change_password .content .cancel {
  color: #337ab7;
  text-decoration: none;
  position: absolute;
  bottom: 17px;
  left: 46%;
}
.change_password .content .error_message {
  margin: 4px;
  color: red;
}
