@primary_color: #4988c9;
@secondary_color: #ff9e37;



html, body, .main {
    height: 100%;
    overflow-x: hidden;

}

body, button, html, input, select, textarea {
    font-family: Roboto,'Helvetica Neue',sans-serif;
}

div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    list-style-type: none;
}


a, button, div, .btn, input, select, textarea {
	&:focus {
	    outline: 0 none !important;
	    border-color: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}






@import 'fab.less';
@import 'icons.less';
@import 'lessons.less';
@import 'utils.less';
@import 'menu.less';
@import 'modal.less';
@import 'login.less';
@import 'main.less';
@import 'common.less';
@import 'editor.less';