@primary_color: #40a39f;
@secondary_color: #ff9e37;



html, body, .main {
    height: 100%;
}


body, button, html, input, select, textarea {
    font-family: Roboto,'Helvetica Neue',sans-serif;
}

div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


ul {
    list-style-type: none;
}

.select_enable div{
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}


a, button, div, .btn, input, select, textarea, i {
	
  &:focus {
	    outline: 0 none !important;
	    border-color: none;
		/* -webkit-box-shadow: none;*/
		/* box-shadow: none;*/
	}
}

.md-dialog-backdrop {
    height: 1000%;
}

md-content {
    /* background-color: initial !important; */
}

md-dialog {
  opacity: 1;
}
/* почему при выборе селекта нет фона 
.md-select-menu-container.md-active md-select-menu {
 background-color: white; 
}
*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/material/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/fonts/material/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/fonts/material/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/fonts/material/MaterialIcons-Regular.ttf) format('truetype');
}


@import 'fab.less';
@import 'profile.less';
@import 'icons.less';
@import 'lessons.less';
@import 'enroll.less';
@import 'utils.less';
@import 'modal.less';
@import 'main.less';
